<app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width">
    <form class="form-container" [formGroup]="updateNetworkForm">

        <div class="form-group">
            <div class="form-name">
                <span class="form-label">SD-WAN网络名称<span class="red">*</span>:</span>
            </div>
            <div class="form-model">
                <input class="form-control" formControlName="name" placeholder="请输入名称" minlength="6" (ngModelChange)="changeName($event)">
            </div>
            <div class="form-error" *ngIf="tips.nameTip">
                <p class="error" *ngIf="tips.nameTip">{{tips.nameTip}}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="form-name">
                <span class="form-label">用途<span class="red">*</span>:</span>
            </div>
            <div class="form-model">
                <select class="form-control" formControlName="purpose">
                    <option *ngFor="let pur of purposes" [value]="pur.name">{{pur.text}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="form-name">
                <span class="form-label">描述:</span>
            </div>
            <div class="form-model">
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
        </div>

        <div class="btn-container">
            <button type="button" class="btn-default" (click)="cancel()">取消</button>
            <button type="button" class="btn-primary" (click)="confirm()" [disabled]="updateNetworkForm.invalid">确定</button>
        </div>
    </form>
</app-w-dialog>
