.top
  margin 20px auto 10px
  .form
    padding 0 20px
    .detail
      div.item
        margin-right 40px
        &:first-child
          margin-right 40px
        float left
        span.form-label
          float left
          margin-right 10px
          line-height 30px
        select,input
          float left
          width 160px
    .tips
      div.item
        float left
        padding-left 80px
        width 240px
        height 30px
        &:nth-child(2)
          padding-left 92px
.error
  line-height: 28px;
  color: #a94442;
div.result
  width 100%
  height 250px
  padding 10px 20px
  border 1px solid #ccc
  overflow-y auto
  .scroll
    min-height 500px
    p
      line-height 30px
.cpe-monitor
  color #5cb85c
  font-weight bold
  cursor pointer
