.form-container
  padding 20px 40px
  .tips
    line-height: 30px
    font-size: 12px
    color: #333
    background: #b2ecf6
    border: 1px solid #00c1e0
    padding-left: 10px
    border-radius: 3px
    margin: 0 auto 25px
  .form-name
    width: 70px;
    display inline-block
    float left
  .form-model
    display inline-block
    input,select,textarea
      width 240px
  .form-error
    padding-left 100px
    .error
      color #a94442
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
