.chart-wrapper
  padding: 15px 15px 0
  height: 460px
  .search-wrapper
    padding-bottom: 15px
    .daterange-host
      float: left
      display: block
      margin-right: 15px
    .type-wrapper
      float: left
      font-size: 0
      .type-item
        margin-right: 15px
        display: inline-block
        width: 70px
        height: 30px
        text-align: center
        line-height: 30px
        border-radius: 15px
        font-size: 12px
        cursor: pointer
        background: #fff
        border 1px solid #ccc
        &.selected
          color: #fff
          background: #00c1e0
  .line-chart
    position: relative
    height: 400px
    .no-data
      position: absolute
      top: 50%
      left: 50%
      margin-left: -75px
      width: 150px
      height: 30px
      text-align: center
      line-height: 30px
      background: #f3f3f3
.btn-container
  background: #e1eef0
