<app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width" (visibleChange)="visibleChange($event)">
  <div class="chart-wrapper">
    <div class="search-wrapper">
      <app-daterangepicker [(model)]="rangeModel" class="daterange-host"></app-daterangepicker>
      <button type="button" class="btn-primary" (click)="searchHandler()">查询</button>
    </div>
    <div class="line-chart">
      <div echarts [options]="chartOptions" [merge]="mergeOptions" [loading]="isLoading" *ngIf="!noData"></div>
      <div class="no-data" *ngIf="!isLoading && noData">暂无数据</div>
    </div>
    <div class="btn-container">
      <button type="button" class="btn-default" (click)="close()">关闭</button>
    </div>
  </div>
</app-w-dialog>
