<div [ngStyle]="{height:'0'}">
  <app-ha-update #update [selectedHa]="selectedItem" (done)="updateDone($event)"></app-ha-update>
  <app-common-window #delete [title]="deleteCommonOption.title" [message]="deleteCommonOption.message" (done)="deleteDone()"></app-common-window>
  <app-ha-detail #detail [selectedHa]="selectedItem" (done)="clickDone($event)"></app-ha-detail>
  <app-ha-resource-quota [selectedHa]="selectedItem" #resourceQuotaHa (done)="resourceQuotaDone($event)"></app-ha-resource-quota>
  <app-loading-window #loading></app-loading-window>
</div>
<div class="title">高可用HA组</div>
<div class="content-menu">
  <app-ha-create (done)="createCeDone($event)"></app-ha-create>
  <app-ha-search #haSearch (done)="searchDone($event)" [searchInitObj]="searchInitObj" ></app-ha-search>
</div>
<div class="grid-wrapper">
  <app-grid class="s-grid" [currentRowIndex]="currentRowIndex" [data]="has" (selection-change)="showDetail($event)" [loading]="gridLoading">
    <app-grid-column field="name" header="HA组名称"></app-grid-column>
    <app-grid-column field="accountName" header="账户名"></app-grid-column>
    <app-grid-column field="company" header="公司名"></app-grid-column>

    <!--<app-grid-column field="sdwanNetworkName" header="SD-WAN网络"></app-grid-column>-->
    <app-grid-column field="sdwanNetworkName" header="SD-WAN网络">
      <ng-template #slot let-dataItem>
        <a class="aLinkStyle" (click)="getCpeBySdwanNetwork($event,dataItem)">{{dataItem.sdwanNetworkName}}</a>
      </ng-template>
    </app-grid-column>

    <app-grid-column field="vip" header="VIP"></app-grid-column>
    <app-grid-column field="vrid" header="VRID"></app-grid-column>
    <app-grid-column header="设备一">
      <ng-template #slot let-dataItem>
        <p>{{dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ceName:''}}</p>
        <p>
          <span *ngIf="dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.frpStatus=='online':false" class="btn-sm btn-success">已连接</span>
          <span *ngIf="dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.frpStatus=='offline':false" class="btn-sm btn-error">未连接</span>

          <span class="btn-sm btn-success"
                *ngIf="dataItem.haGroupCeRefs[0]?(dataItem.haGroupCeRefs[0].ce.masterState !== 'Connecting' && dataItem.haGroupCeRefs[0].ce.masterState !=='Disconnected'):false">
            <span *ngIf="dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.masterRtt:false">
              {{dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.masterRtt:''}}
            </span>
            <span *ngIf="dataItem.haGroupCeRefs[0]?!dataItem.haGroupCeRefs[0].ce.masterRtt:false">正常</span>
          </span>
          <span class="btn-sm btn-warning" *ngIf="dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.masterState === 'Connecting':false">连接中</span>
          <span class="btn-sm btn-error" *ngIf="dataItem.haGroupCeRefs[0]?dataItem.haGroupCeRefs[0].ce.masterState === 'Disconnected':false">异常</span>
        </p>
      </ng-template>
    </app-grid-column>
    <app-grid-column header="设备二">
      <ng-template #slot let-dataItem>
        <p>{{dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ceName:''}}</p>
        <p>
          <span *ngIf="dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.frpStatus=='online':false" class="btn-sm btn-success">已连接</span>
          <span *ngIf="dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.frpStatus=='offline':false" class="btn-sm btn-error">未连接</span>

          <span class="btn-sm btn-success"
                *ngIf="dataItem.haGroupCeRefs[1]?(dataItem.haGroupCeRefs[1].ce.masterState !== 'Connecting' && dataItem.haGroupCeRefs[1].ce.masterState !=='Disconnected'):false">
            <span *ngIf="dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.masterRtt:false">
              {{dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.masterRtt:''}}
            </span>
            <span *ngIf="dataItem.haGroupCeRefs[1]?!dataItem.haGroupCeRefs[1].ce.masterRtt:false">正常</span>
          </span>
          <span class="btn-sm btn-warning" *ngIf="dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.masterState === 'Connecting':false">连接中</span>
          <span class="btn-sm btn-error" *ngIf="dataItem.haGroupCeRefs[1]?dataItem.haGroupCeRefs[1].ce.masterState === 'Disconnected':false">异常</span>
        </p>
      </ng-template>
    </app-grid-column>
    <app-grid-column field="createDate" header="创建时间">
      <ng-template #slot let-dataItem>
        {{dataItem.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </app-grid-column>
    <app-grid-column header="操作" width="80px">
      <ng-template #slot let-dataItem let-rowIndex="rowIndex">
        <app-w-dropdown (click)="selectedRow(dataItem, rowIndex)">
          <ng-container drop-type="toggle">更多</ng-container>
          <ul drop-type="menu" class="grid-drop-menu">
            <!--<li (click)="setCidr.open()" *ngIf="dataItem.showSetCidr">设置业务网段</li>-->
            <li (click)="goToCpe(dataItem)" *ngIf="dataItem.haGroupCeRefs.length > 0">查看CPE</li>
            <li (click)="updateHaOpen()">变更配置</li>
            <li (click)="openDeleteWin(dataItem, rowIndex)">删除</li>
            <li (click)="resourceQuotaHa.openDialog()">配额设置</li>
          </ul>
        </app-w-dropdown>
      </ng-template>
    </app-grid-column>
  </app-grid>
  <div class="tips" *ngIf="pagination.show"><span class="iconfont icon-jinggao-"></span>注：点击上方列表空白处可查看该HA详情。</div>
  <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)"
                  [dataTotal]="pagination.total" [(currentPage)]="pagination.current"
                  (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
</div>

