<label class="el-switch"
       [class.is-disabled]="elDisabled"
       [class.el-switch--wide]="hasText"
       [class.is-checked]="_model">
  <div class="el-switch__mask" *ngIf="elDisabled"></div>
  <!--<input class="el-switch__input" type="checkbox"
         [name]="name" [disabled]="elDisabled"
         [ngModel]="_model" (ngModelChange)="changeHandle($event)">-->

  <div class="el-switch__label el-switch__label--left" [class.is-active]="!_model"
       *ngIf="inactiveText || inactiveIconClass">
    <i [class]="inactiveIconClass" *ngIf="inactiveIconClass"></i>
    <span [style.font-size.px]="12" *ngIf="!inactiveIconClass">{{ inactiveText }}</span>
  </div>

  <span class="el-switch__core" (click)="changeHandle(_model)" [style]="coreStyles">
        <span class="el-switch__button" [style]="iconTransform"></span>
      </span>

  <div class="el-switch__label el-switch__label--right" [class.is-active]="_model"
       *ngIf="activeText || activeIconClass">
    <i [class]="activeIconClass" *ngIf="activeIconClass"></i>
    <span [style.font-size.px]="12" *ngIf="!activeIconClass">{{ activeText }}</span>
  </div>
</label>
