.form-container
  padding 20px 40px
  .tips
    line-height: 30px
    font-size: 12px
    color: #333
    background: #b2ecf6
    border: 1px solid #00c1e0
    padding-left: 10px
    border-radius: 3px
    margin: 0 auto 25px
    .iconfont
      color #00c1e0
      margin-right 2px
      top 1px
      position relative
  .form-name
    width: 120px;
    display inline-block
    float left
  .form-model
    display inline-block
    line-height 30px
    input,select,textarea
      width 240px
    .error
      color #a94442
  .form-error
    padding-left 120px
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
.multi-input
  &.ng-dirty.ng-invalid
    border: none
  input.form-control
    display inline-block
    width 52px !important
    margin-right 10px
    float left
    padding 6px
    text-align center
    &:last-child
      margin-right 0
p.attention
  color #777
  line-height 30px
  margin-top 10px
  span
    color #00c1e0
    margin-right 5px
