<div class="create-wrapper">
  <button type="button" class="btn-primary" (click)="openDialog()"><i class="iconfont icon-plus"></i>添加公网线路</button>

  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="createModelForm">

      <!--<div class="form-group">-->
        <!--<span class="form-label">顺序<span class="red">*</span>:</span>-->
        <!--<input type="text" class="form-control" formControlName="number" placeholder="请确保顺序值唯一">-->
        <!--<div class="form-error" *ngIf="(number.invalid && (number.dirty || number.touched))">-->
          <!--<p class="error" *ngIf="number.errors['required']">顺序值必填</p>-->
          <!--<p class="error" *ngIf="number.errors['pattern']">顺序值必须为正整数</p>-->
        <!--</div>-->
        <!--<div class="form-error" *ngIf="numOnly">-->
          <!--<p class="error" *ngIf="numOnly">当前顺序值已存在</p>-->
        <!--</div>-->
      <!--</div>-->

      <div class="form-group">
        <span class="form-label">公网线路<span class="red">*</span>:</span>
        <select class="form-control" formControlName="type">
          <option *ngFor="let item of publicNetworkType" [value]="item.value">{{item.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <span class="form-label">IP<span class="red">*</span>:</span>
        <input type="text" class="form-control" formControlName="publicIp">
        <div class="form-error" *ngIf="publicIp.invalid && (publicIp.dirty || publicIp.touched)">
          <p class="error" *ngIf="publicIp.errors['required']">IP地址必填</p>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label">带宽<span class="red">*</span>:</span>
        <input type="text" class="form-control hasUnitInput" formControlName="bandwidth">M
        <div class="form-error" *ngIf="bandwidth.invalid && (bandwidth.dirty || bandwidth.touched)">
          <p class="error" *ngIf="bandwidth.errors['required']">带宽值必填</p>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label">网卡<span class="red">*</span>:</span>
        <input type="text" class="form-control" formControlName="interfaceName">
        <div class="form-error" *ngIf="interfaceName.invalid && (interfaceName.dirty || interfaceName.touched)">
          <p class="error" *ngIf="interfaceName.errors['required']">网卡名称必填</p>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label">掩码<span class="red">*</span>:</span>
        <input type="text" class="form-control" formControlName="netmask">
        <div class="form-error" *ngIf="netmask.invalid && (netmask.dirty || netmask.touched)">
          <p class="error" *ngIf="netmask.errors['required']">掩码必填</p>
        </div>
      </div>

      <div class="form-group">
        <span class="form-label">网关<span class="red">*</span>:</span>
        <input type="text" class="form-control" formControlName="gateway">
        <div class="form-error" *ngIf="gateway.invalid && (gateway.dirty || gateway.touched)">
          <p class="error" *ngIf="gateway.errors['required']">网关必填</p>
        </div>
      </div>

      <div class="btn-container">
        <button type="button" class="btn-default" (click)="cancel()">取消</button>
        <button type="button" class="btn-primary" (click)="confirm()" [disabled]="createModelForm.invalid">确定</button>
      </div>
    </form>
  </app-w-dialog>
</div>
