<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">

    <form class="form-container" [formGroup]="updateOspfForm">

      <div class="form-group">
        <div class="form-name" [ngStyle]="{width: state.value === 'Enabled' ? '140px' : '50px'}">
          <span class="form-label">状况<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <select class="form-control" formControlName="state" (change)="changeState()">
            <option *ngFor="let item of states" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="state.value === 'Enabled'">
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">
              OSPF Area <i [appToolTip]="'OSPF的区域'" class="iconfont icon-question"></i>
              <span class="red">*</span>:
            </span>
          </div>
          <div class="form-model">
            <input class="form-control" formControlName="area" placeholder="范围：0-4294967295，默认：0">
          </div>
          <div class="form-error" *ngIf="area.invalid && (area.dirty || area.touched)">
            <p class="error" *ngIf="area.errors['required']">Area必填</p>
            <p class="error" *ngIf="area.errors['min']">最小值为0</p>
            <p class="error" *ngIf="area.errors['max']">最大值为4294967295</p>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">
              Metrics <i [appToolTip]="'度量值'" class="iconfont icon-question"></i>
              <span class="red">*</span>:
            </span>
          </div>
          <div class="form-model">
            <input class="form-control" formControlName="metrics" placeholder="范围：1-16， 默认：16">
          </div>
          <div class="form-error" *ngIf="metrics.invalid && (metrics.dirty || metrics.touched)">
            <p class="error" *ngIf="metrics.errors['required']">Metrics必填</p>
            <p class="error" *ngIf="metrics.errors['min']">最小值为1</p>
            <p class="error" *ngIf="metrics.errors['max']">最大值为16</p>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">
              Hello Interval <i [appToolTip]="'邻居建立发送hello报文的间隔时间'" class="iconfont icon-question"></i>
              <span class="red">*</span>:
            </span>
          </div>
          <div class="form-model">
            <input class="form-control" formControlName="helloInterval" placeholder="范围：1-65535，默认：10秒">
          </div>
          <div class="form-error" *ngIf="helloInterval.invalid && (helloInterval.dirty || helloInterval.touched)">
            <p class="error" *ngIf="helloInterval.errors['required']">Hello Interval必填</p>
            <p class="error" *ngIf="helloInterval.errors['min']">最小值为1</p>
            <p class="error" *ngIf="helloInterval.errors['max']">最大值为65535</p>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">
              Dead Interval <i [appToolTip]="'邻居失效时间间隔'" class="iconfont icon-question"></i>
              <span class="red">*</span>:
            </span>
          </div>
          <div class="form-model">
            <input class="form-control" formControlName="deadInterval" placeholder="范围：1-65535，默认：40秒">
          </div>
          <div class="form-error" *ngIf="deadInterval.invalid && (deadInterval.dirty || deadInterval.touched)">
            <p class="error" *ngIf="deadInterval.errors['required']">Dead Interval必填</p>
            <p class="error" *ngIf="deadInterval.errors['min']">最小值为1</p>
            <p class="error" *ngIf="deadInterval.errors['max']">最大值为65535</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">
              Interface <i [appToolTip]="'邻居接口'" class="iconfont icon-question"></i>
              <span class="red">*</span>:
            </span>
          </div>
          <div class="form-model">
            <select class="form-control" formControlName="interfaceName">
              <option *ngFor="let item of portsLists" [value]="item.dev">{{item.dev+'（'+item.description+'）'}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tips" *ngIf="state.value === 'Enabled'">
        <p><span class="iconfont icon-jinggao- blue"></span> 提示：</p>
        <ul>
          <li>Area、Hello Interval、Dead Interval三项配置必须与用户侧OSPF设备配置一致</li>
        </ul>
      </div>
    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" (click)="confirm()" [disabled]="updateOspfForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>

