<app-right-modal [title]="modelOption.title" [width]="modelOption.width" [(toggle)]="modelOption.toggle">
  <ul class="list right-detail">
    <li><span class="name">UUID：</span><span class="text">{{selectedItem?.uuid}}</span></li>
    <li><span class="name">VPE UUID：</span><span class="text">{{selectedItem?.vpeUuid}}</span></li>
    <li><span class="name">VPE名称：</span><span class="text">{{selectedItem?.vpeName}}</span></li>
    <li><span class="name">PE IP：</span><span class="text">{{selectedItem?.peIp}}</span></li>
    <li><span class="name">SDWAN UUID：</span><span class="text">{{selectedItem?.sdwanNetworkUuid}}</span></li>
    <li><span class="name">所属网络：</span><span class="text">{{selectedItem?.sdwanNetworkName}}</span></li>
    <li><span class="name">接口：</span><span class="text">{{selectedItem?.interfaceName}}</span></li>
    <li><span class="name">vlan：</span><span class="text">{{selectedItem?.vlan}}</span></li>
    <li><span class="name">vpn数量：</span><span class="text">{{selectedItem?.vpnCount}}</span></li>
    <li><span class="name">创建时间：</span><span class="text">{{selectedItem?.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
    <li><span class="name">最后操作时间：</span><span class="text">{{selectedItem?.lastOpDate|date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
  </ul>
</app-right-modal>
