.form-container
  padding 20px 40px
  .form-name
    width: 140px;
    display inline-block
    float left
  .form-model
    display inline-block
    input,select,textarea
      width 240px
  .form-error
    padding-left 140px
  fieldset
    border 1px solid #ccc
    padding: 15px 20px;
    .form-name
      width 117px
    .form-error
      padding-left 117px
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
.multi-input
  &.ng-dirty.ng-invalid
    border: none
  input.form-control
    display inline-block
    width 52px !important
    margin-right 10px
    float left
    padding 6px
    text-align center
    &:last-child
      margin-right 0
