<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="updateCeLanForm">

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">状况<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <select class="form-control" formControlName="state" (change)="changeState()">
            <option *ngFor="let item of states" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="state.value == 'Enabled'">
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">是否启用DHCP服务<span class="red">*</span>:</span>
          </div>
          <div class="form-model">
            <select class="form-control" formControlName="dhcp" (change)="changeDhcps()">
              <option *ngFor="let item of dhcps" [value]="item.value">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group multi-input" formGroupName="localIp">
          <div class="form-name">
              <span class="form-label">
                IP <i [appToolTip]="'LAN端口地址'" class="iconfont icon-question"></i>
                <span class="red">*</span>:
              </span>
          </div>
          <div class="form-model">
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number1"/>
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number2"/>
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number3"/>
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number4"/>
          </div>
          <div class="form-error" *ngIf="
              (localIp.get('number1').invalid && (localIp.get('number1').dirty || localIp.get('number1').touched)) ||
              (localIp.get('number2').invalid && (localIp.get('number2').dirty || localIp.get('number2').touched)) ||
              (localIp.get('number3').invalid && (localIp.get('number3').dirty || localIp.get('number3').touched)) ||
              (localIp.get('number4').invalid && (localIp.get('number4').dirty || localIp.get('number4').touched))
              ">
            <p class="error" *ngIf="
                (localIp.get('number1').errors && localIp.get('number1').errors['required']) ||
                (localIp.get('number2').errors && localIp.get('number2').errors['required']) ||
                (localIp.get('number3').errors && localIp.get('number3').errors['required']) ||
                (localIp.get('number4').errors && localIp.get('number4').errors['required'])
              ">IP 必填</p>
            <p class="error" *ngIf="
                (localIp.get('number1').errors && localIp.get('number1').errors['pattern']) ||
                (localIp.get('number2').errors && localIp.get('number2').errors['pattern']) ||
                (localIp.get('number3').errors && localIp.get('number3').errors['pattern']) ||
                (localIp.get('number4').errors && localIp.get('number4').errors['pattern'])
              ">格式错误</p>
          </div>
        </div>
        <div class="form-group multi-input" formGroupName="netmask">
          <div class="form-name">
              <span class="form-label">
                掩码
                <span class="red">*</span>:
              </span>
          </div>
          <div class="form-model">
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number1"/>
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number2"/>
            <input type="text" (input)="changeLocalIp()" class="form-control" formControlName="number3"/>
            <input type="text" class="form-control" formControlName="number4"/>
          </div>
          <div class="form-error" *ngIf="
              (netmask.get('number1').invalid && (netmask.get('number1').dirty || netmask.get('number1').touched)) ||
              (netmask.get('number2').invalid && (netmask.get('number2').dirty || netmask.get('number2').touched)) ||
              (netmask.get('number3').invalid && (netmask.get('number3').dirty || netmask.get('number3').touched)) ||
              (netmask.get('number4').invalid && (netmask.get('number4').dirty || netmask.get('number4').touched))
              ">
            <p class="error" *ngIf="
                (netmask.get('number1').errors && netmask.get('number1').errors['required']) ||
                (netmask.get('number2').errors && netmask.get('number2').errors['required']) ||
                (netmask.get('number3').errors && netmask.get('number3').errors['required']) ||
                (netmask.get('number4').errors && netmask.get('number4').errors['required'])
              ">掩码必填</p>
            <p class="error" *ngIf="
                (netmask.get('number1').errors && netmask.get('number1').errors['pattern']) ||
                (netmask.get('number2').errors && netmask.get('number2').errors['pattern']) ||
                (netmask.get('number3').errors && netmask.get('number3').errors['pattern']) ||
                (netmask.get('number4').errors && netmask.get('number4').errors['pattern'])
              ">格式错误</p>
          </div>
        </div>

        <div *ngIf="dhcp.value == 'true'">
          <fieldset>
            <legend>DHCP设置</legend>

            <div class="form-group">
              <div class="form-name">
                <span class="form-label">DHCP角色<span class="red">*</span>:</span>
              </div>
              <div class="form-model">
                <app-btn-group [models]="dhcpStatuss" formControlName="dhcpStatus"
                               (modelChange)="changeDhcpsStatus()"></app-btn-group>
              </div>
            </div>

            <div class="form-group multi-input" formGroupName="dhcpPeerIp" *ngIf="dhcpStatus.value !== 'none' && dhcpStatus.value !== 'relay'">
              <div class="form-name">
                <span class="form-label">
                  DHCP对端地址
                  <span class="red">*</span>:
                </span>
              </div>
              <div class="form-model">
                <input type="text" class="form-control" formControlName="number1"/>
                <input type="text" class="form-control" formControlName="number2"/>
                <input type="text" class="form-control" formControlName="number3"/>
                <input type="text" class="form-control" formControlName="number4"/>
              </div>
              <div class="form-error" *ngIf="
                (dhcpPeerIp.get('number1').invalid && (dhcpPeerIp.get('number1').dirty || dhcpPeerIp.get('number1').touched)) ||
                (dhcpPeerIp.get('number2').invalid && (dhcpPeerIp.get('number2').dirty || dhcpPeerIp.get('number2').touched)) ||
                (dhcpPeerIp.get('number3').invalid && (dhcpPeerIp.get('number3').dirty || dhcpPeerIp.get('number3').touched)) ||
                (dhcpPeerIp.get('number4').invalid && (dhcpPeerIp.get('number4').dirty || dhcpPeerIp.get('number4').touched))
                ">
                <p class="error" *ngIf="
                  (dhcpPeerIp.get('number1').errors && dhcpPeerIp.get('number1').errors['required']) ||
                  (dhcpPeerIp.get('number2').errors && dhcpPeerIp.get('number2').errors['required']) ||
                  (dhcpPeerIp.get('number3').errors && dhcpPeerIp.get('number3').errors['required']) ||
                  (dhcpPeerIp.get('number4').errors && dhcpPeerIp.get('number4').errors['required'])
                ">DHCP对端地址必填</p>
                <p class="error" *ngIf="
                  (dhcpPeerIp.get('number1').errors && dhcpPeerIp.get('number1').errors['pattern']) ||
                  (dhcpPeerIp.get('number2').errors && dhcpPeerIp.get('number2').errors['pattern']) ||
                  (dhcpPeerIp.get('number3').errors && dhcpPeerIp.get('number3').errors['pattern']) ||
                  (dhcpPeerIp.get('number4').errors && dhcpPeerIp.get('number4').errors['pattern'])
                ">格式错误</p>
              </div>
            </div>

            <div class="form-group multi-input" formGroupName="dhcpRelayIp" *ngIf="dhcpStatus.value === 'relay'">
              <div class="form-name">
                <span class="form-label">
                  DHCP中继地址
                  <span class="red">*</span>:
                </span>
              </div>
              <div class="form-model">
                <input type="text" class="form-control" formControlName="number1"/>
                <input type="text" class="form-control" formControlName="number2"/>
                <input type="text" class="form-control" formControlName="number3"/>
                <input type="text" class="form-control" formControlName="number4"/>
              </div>
              <div class="form-error" *ngIf="
                (dhcpRelayIp.get('number1').invalid && (dhcpRelayIp.get('number1').dirty || dhcpRelayIp.get('number1').touched)) ||
                (dhcpRelayIp.get('number2').invalid && (dhcpRelayIp.get('number2').dirty || dhcpRelayIp.get('number2').touched)) ||
                (dhcpRelayIp.get('number3').invalid && (dhcpRelayIp.get('number3').dirty || dhcpRelayIp.get('number3').touched)) ||
                (dhcpRelayIp.get('number4').invalid && (dhcpRelayIp.get('number4').dirty || dhcpRelayIp.get('number4').touched))
                ">
                <p class="error" *ngIf="
                  (dhcpRelayIp.get('number1').errors && dhcpRelayIp.get('number1').errors['required']) ||
                  (dhcpRelayIp.get('number2').errors && dhcpRelayIp.get('number2').errors['required']) ||
                  (dhcpRelayIp.get('number3').errors && dhcpRelayIp.get('number3').errors['required']) ||
                  (dhcpRelayIp.get('number4').errors && dhcpRelayIp.get('number4').errors['required'])
                ">DHCP中继地址必填</p>
                <p class="error" *ngIf="
                  (dhcpRelayIp.get('number1').errors && dhcpRelayIp.get('number1').errors['pattern']) ||
                  (dhcpRelayIp.get('number2').errors && dhcpRelayIp.get('number2').errors['pattern']) ||
                  (dhcpRelayIp.get('number3').errors && dhcpRelayIp.get('number3').errors['pattern']) ||
                  (dhcpRelayIp.get('number4').errors && dhcpRelayIp.get('number4').errors['pattern'])
                ">格式错误</p>
              </div>
            </div>

            <div *ngIf="dhcpStatus.value !== 'relay'">
              <div class="form-group multi-input" formGroupName="startIp">
              <div class="form-name">
                <span class="form-label">
                  起始IP
                  <span class="red">*</span>:
                </span>
              </div>
              <div class="form-model">
                <input type="text" class="form-control" formControlName="number1"/>
                <input type="text" class="form-control" formControlName="number2"/>
                <input type="text" class="form-control" formControlName="number3"/>
                <input type="text" class="form-control" formControlName="number4"/>
              </div>
              <div class="form-error" *ngIf="
                (startIp.get('number1').invalid && (startIp.get('number1').dirty || startIp.get('number1').touched)) ||
                (startIp.get('number2').invalid && (startIp.get('number2').dirty || startIp.get('number2').touched)) ||
                (startIp.get('number3').invalid && (startIp.get('number3').dirty || startIp.get('number3').touched)) ||
                (startIp.get('number4').invalid && (startIp.get('number4').dirty || startIp.get('number4').touched))
                ">
                <p class="error" *ngIf="
                  (startIp.get('number1').errors && startIp.get('number1').errors['required']) ||
                  (startIp.get('number2').errors && startIp.get('number2').errors['required']) ||
                  (startIp.get('number3').errors && startIp.get('number3').errors['required']) ||
                  (startIp.get('number4').errors && startIp.get('number4').errors['required'])
                ">起始IP必填</p>
                <p class="error" *ngIf="
                  (startIp.get('number1').errors && startIp.get('number1').errors['pattern']) ||
                  (startIp.get('number2').errors && startIp.get('number2').errors['pattern']) ||
                  (startIp.get('number3').errors && startIp.get('number3').errors['pattern']) ||
                  (startIp.get('number4').errors && startIp.get('number4').errors['pattern'])
                ">格式错误</p>
              </div>
            </div>
              <div class="form-group multi-input" formGroupName="endIp">
                <div class="form-name">
                  <span class="form-label">
                    终止IP
                    <span class="red">*</span>:
                  </span>
                </div>
                <div class="form-model">
                  <input type="text" class="form-control" formControlName="number1"/>
                  <input type="text" class="form-control" formControlName="number2"/>
                  <input type="text" class="form-control" formControlName="number3"/>
                  <input type="text" class="form-control" formControlName="number4"/>
                </div>
                <div class="form-error" *ngIf="
                  (endIp.get('number1').invalid && (endIp.get('number1').dirty || endIp.get('number1').touched)) ||
                  (endIp.get('number2').invalid && (endIp.get('number2').dirty || endIp.get('number2').touched)) ||
                  (endIp.get('number3').invalid && (endIp.get('number3').dirty || endIp.get('number3').touched)) ||
                  (endIp.get('number4').invalid && (endIp.get('number4').dirty || endIp.get('number4').touched))
                  ">
                  <p class="error" *ngIf="
                    (endIp.get('number1').errors && endIp.get('number1').errors['required']) ||
                    (endIp.get('number2').errors && endIp.get('number2').errors['required']) ||
                    (endIp.get('number3').errors && endIp.get('number3').errors['required']) ||
                    (endIp.get('number4').errors && endIp.get('number4').errors['required'])
                  ">终止IP必填</p>
                  <p class="error" *ngIf="
                    (endIp.get('number1').errors && endIp.get('number1').errors['pattern']) ||
                    (endIp.get('number2').errors && endIp.get('number2').errors['pattern']) ||
                    (endIp.get('number3').errors && endIp.get('number3').errors['pattern']) ||
                    (endIp.get('number4').errors && endIp.get('number4').errors['pattern'])
                  ">格式错误</p>
                </div>
              </div>
              <div class="form-group multi-input" formGroupName="gateway">
                <div class="form-name">
                  <span class="form-label">
                    网关
                    <span class="red">*</span>:
                  </span>
                </div>
                <div class="form-model">
                  <input type="text" class="form-control" formControlName="number1"/>
                  <input type="text" class="form-control" formControlName="number2"/>
                  <input type="text" class="form-control" formControlName="number3"/>
                  <input type="text" class="form-control" formControlName="number4"/>
                </div>
                <div class="form-error" *ngIf="
                  (gateway.get('number1').invalid && (gateway.get('number1').dirty || gateway.get('number1').touched)) ||
                  (gateway.get('number2').invalid && (gateway.get('number2').dirty || gateway.get('number2').touched)) ||
                  (gateway.get('number3').invalid && (gateway.get('number3').dirty || gateway.get('number3').touched)) ||
                  (gateway.get('number4').invalid && (gateway.get('number4').dirty || gateway.get('number4').touched))
                  ">
                  <p class="error" *ngIf="
                    (gateway.get('number1').errors && gateway.get('number1').errors['required']) ||
                    (gateway.get('number2').errors && gateway.get('number2').errors['required']) ||
                    (gateway.get('number3').errors && gateway.get('number3').errors['required']) ||
                    (gateway.get('number4').errors && gateway.get('number4').errors['required'])
                  ">网关必填</p>
                  <p class="error" *ngIf="
                    (gateway.get('number1').errors && gateway.get('number1').errors['pattern']) ||
                    (gateway.get('number2').errors && gateway.get('number2').errors['pattern']) ||
                    (gateway.get('number3').errors && gateway.get('number3').errors['pattern']) ||
                    (gateway.get('number4').errors && gateway.get('number4').errors['pattern'])
                  ">格式错误</p>
                </div>
              </div>
              <div class="form-group multi-input" formGroupName="dns">
                <div class="form-name">
                  <span class="form-label">
                    DNS
                    <span class="red">*</span>:
                  </span>
                </div>
                <div class="form-model">
                  <input type="text" class="form-control" formControlName="number1"/>
                  <input type="text" class="form-control" formControlName="number2"/>
                  <input type="text" class="form-control" formControlName="number3"/>
                  <input type="text" class="form-control" formControlName="number4"/>
                </div>
                <div class="form-error" *ngIf="
                  (dns.get('number1').invalid && (dns.get('number1').dirty || dns.get('number1').touched)) ||
                  (dns.get('number2').invalid && (dns.get('number2').dirty || dns.get('number2').touched)) ||
                  (dns.get('number3').invalid && (dns.get('number3').dirty || dns.get('number3').touched)) ||
                  (dns.get('number4').invalid && (dns.get('number4').dirty || dns.get('number4').touched))
                  ">
                  <p class="error" *ngIf="
                    (dns.get('number1').errors && dns.get('number1').errors['required']) ||
                    (dns.get('number2').errors && dns.get('number2').errors['required']) ||
                    (dns.get('number3').errors && dns.get('number3').errors['required']) ||
                    (dns.get('number4').errors && dns.get('number4').errors['required'])
                  ">DNS必填</p>
                  <p class="error" *ngIf="
                    (dns.get('number1').errors && dns.get('number1').errors['pattern']) ||
                    (dns.get('number2').errors && dns.get('number2').errors['pattern']) ||
                    (dns.get('number3').errors && dns.get('number3').errors['pattern']) ||
                    (dns.get('number4').errors && dns.get('number4').errors['pattern'])
                  ">格式错误</p>
                </div>
              </div>
            </div>

          </fieldset>
        </div>
      </div>

    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" (click)="confirm()" [disabled]="updateCeLanForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>

