.right-detail
  li.item
    line-height 28px
    overflow hidden
    padding 20px ;
    border-bottom 1px solid #ccc
    ul li
      &:after
        content ''
        clear both
        display block
    h3
      font-weight normal
      font-size 14px
    .col-md-6
      width 50%
      display inline-block
      float left
    .name
        width 100px
        display block
        color #777
        float left
    .model
      color #333
      display block
      padding-left 100px
    .des
      position relative
      background #eee
      overflow hidden
      span.name
        width auto
      span.model
        margin-right 20px
        float left
        padding-left 0
      i
        color: #00c1e0;
        position: absolute;
        right: 40px;
        top: 50%;
        display: inline-block;
        margin-top: -7px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-weight: bold;
        cursor: pointer;
    ul
      .list
        margin-top 10px
        &.border-active
          border-color #00c1e0
        span
          margin-right 20px
    .icon-cog
      cursor pointer
      color #00c1e0
      font-weight bold
li.clearfix
  ul li
    overflow hidden
