<app-right-modal [title]="modelOption.title" [(toggle)]="modelOption.toggle" [width]="width">
  <ul class="list right-detail">
    <li class="item">
      <div class="col-md-6">
        <ul>
          <li><span class="name">名称:</span><span class="model">{{selectedItem?.name}}</span></li>
          <li><span class="name">ESN号:</span><span class="model">{{selectedItem?.esn}}</span></li>
          <li>
            <span class="name">状态:</span>
            <span class="model">
              <span *ngIf="selectedItem?.status === 'online'" class="btn-sm btn-success">已连接</span>
              <span *ngIf="selectedItem?.status === 'offline'" class="btn-sm btn-error">未连接</span>
               (frp端口: {{selectedItem?.frpServerPort}})
            </span>
          </li>
          <li><span class="name">状况:</span><span class="model">
            <span *ngIf="selectedItem?.state=='Enabled'" class="btn-sm btn-success">启用</span>
            <span *ngIf="selectedItem?.state=='Disabled'" class="btn-sm btn-error">禁用</span>
            <span *ngIf="selectedItem?.state=='Deleted'" class="btn-sm btn-error">库存</span>
          </span></li>
          <li *ngIf="selectedItem?.bandwidthOfferingUuid && selectedItem?.bandwidthOfferingUuid !=='0'">
            <span class="name">带宽峰值:</span>
            <span class="model">
              {{selectedItem?.bandwidthOfferingUuid}}
            </span>
          </li>
          <li *ngIf="selectedItem?.connectionType === 'SDWAN'">
            <span class="name">VPN模式:</span>
            <span class="model">
              {{selectedItem?.vpnType}}
            </span>
          </li>
          <li>
            <span class="name">配置状态:</span>
            <span class="model">
              <span class="btn-sm btn-warning" *ngIf="selectedItem?.configStatus === 'Initial'">未配置</span>
              <span class="btn-sm btn-sys" *ngIf="selectedItem?.configStatus === 'Config'">已配置</span>
              <span class="btn-sm btn-sys" *ngIf="selectedItem?.configStatus === 'Deploying'">下发中</span>
            </span>
          </li>
          <li><span class="name">主备切换:</span><span class="model">{{selectedItem?.masterSlaveSwitch}}</span></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <li><span class="name">UUID:</span><span class="model">{{selectedItem?.uuid}}</span></li>
          <li><span class="name">CPE型号:</span><span class="model">{{selectedItem?.model}}</span></li>
          <li>
            <span class="name">心跳时间:</span>
            <span class="model">
              {{lasterTime}}
              ({{selectedItem?.heartBeat | date: 'yyyy-MM-dd HH:mm:ss'}})
            </span>
          </li>
          <li><span class="name">主备切换:</span><span class="model">{{selectedItem?.masterSlaveSwitch}}</span></li>
          <li>
            <span class="name">互通模式:</span>
            <span class="model">
              {{selectedItem?.l3Protocol}}
            </span>
          </li>
          <li><span class="name">安装地址:</span><span class="model">{{selectedItem?.address}}/{{selectedItem?.city}}</span>
          </li>
          <li><span class="name">软件版本:</span><span class="model">{{selectedItem?.agentVersion}}</span></li>
          <li><span class="name">系统:</span><span class="model">{{selectedItem?.osVersion}}</span></li>
        </ul>
      </div>
    </li>
  </ul>
</app-right-modal>
