.content-box
  padding: 20px 15px 0
  .header
    padding-bottom: 15px
    li
      float: left
      width: 40%
  .contnet-list
    .add-btn
      margin-bottom: 15px
  .btn-container
    background: #e1eef0
    margin-top: 30px
.delete
  color: #00C1E0
  cursor: pointer
.update
  color: #00C1E0
  cursor: pointer
  margin-right: 3px
