<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="updateCeTunnelSdwanForm">
      <div class="form-group clearfix">
        <div class="form-name">
          <span class="form-label">端口:</span>
        </div>
        <div class="form-model">
          <span class="form-label">{{selectedPort?.name}}</span>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">是否启用端口:<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <select class="form-control" formControlName="isOpenPort">
            <option *ngFor="let item of isOpenPortList" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isOpenPort.value == 'Enabled'">
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">网络:</span>
          </div>
          <div class="form-model">
            <span class="form-label">{{selectedCe?.sdwanNetworkName}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">连接点:<span class="red">*</span>:</span>
          </div>
          <div class="form-model">
            <select class="form-control" formControlName="endpoint" (change)="changeEndpoint($event)">
              <option *ngFor="let item of endpoints" [value]="item.uuid">{{item.name}}</option>
            </select>
          </div>
          <div class="form-error" *ngIf="endpoint.invalid && (endpoint.dirty || endpoint.touched)">
            <p class="error" *ngIf="endpoint.errors['required']">专线连接点必填</p>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">vlan:</span>
          </div>
          <div class="form-model">
            <span class="form-label">{{vlanInfos?.vlan}}</span>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="form-name">
            <span class="form-label">互联IP:</span>
          </div>
          <div class="form-model">
            <span class="form-label">{{vlanInfos?.localIp}}</span>
          </div>
        </div>
      </div>

    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" (click)="confirm()" [disabled]="updateCeTunnelSdwanForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>
