<div class="search-account-wrapper clearfix">
  <span class="search-container">
    <input [ngStyle]="{width:inputWidth}" class="form-control" name="accountName" [value]="accountName" readonly>
    <i class="icon iconfont icon-sm-close" (click)="cancel()"></i>
    <i class="icon iconfont icon-search" (click)="openDialog()"></i>
  </span>
</div>

<app-w-dialog [title]="dialogOptions.title" [width]="dialogOptions.width" [(visible)]="dialogOptions.visible" [changeHeight]="dialogOptions.changeHeight">
  <div class="dialog-body-wrapper">
    <div class="search">
      <app-relate-input class="search-input" [model]="searchConditionNames" (relateChange)="conditionChange($event)" (keyUpDone)="keyUpDone()" [relateName]="searchDefault.name" [relateValue]="searchDefault.value"></app-relate-input>
      <span class="btn-primary" (click)="search()">查询</span>
    </div>
    <app-grid class="s-grid" [data]="accounts" (selection-change)="selectionChange($event)">
      <app-grid-column field="name" header="账户名"></app-grid-column>
      <app-grid-column field="phone" header="手机号"></app-grid-column>
      <app-grid-column field="email" header="邮箱"></app-grid-column>
      <app-grid-column field="company" header="公司"></app-grid-column>
    </app-grid>
    <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)" [dataTotal]="pagination.total" [(currentPage)]="pagination.current" (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
    <p class="notice">注意：选择表格里的一个账户做为查询项</p>
  </div>
  <div class="dialog-btn-wrapper">
    <button type="button" class="btn-default" (click)="cancelSelect()">取消选择</button>
    <button type="button" class="btn-primary" (click)="confirmSelect()">确定</button>
  </div>
</app-w-dialog>
