:host
  display: inline-block
  box-sizing content-box
.search-account-wrapper
  font-size: 0
  label
    display: inline-block
    padding-left: 8px
    padding-right: 8px
    font-size: 12px
    line-height: 30px
    vertical-align: top
  .search-container
    position: relative
    display: inline-block
    width: 100%
    input
      width 100px
      float left
      border-top-right-radius 0
      border-bottom-right-radius 0
    i
      display: inline-block
      font-size: 14px
      text-align: center
      cursor: pointer
      &:before
        color #333
        font-weight bold
    .icon-search
      width: 30px
      height: 30px
      line-height: 30px
      border 1px solid #ccc
      border-left 0
      border-top-right-radius 2px
      border-bottom-right-radius 2px
      &:hover
        background #eee
    .icon-sm-close
      width: 30px
      height: 30px
      line-height: 30px
      border 1px solid #ccc
      border-left 0
      &:hover
        background #eee
.search
  font-size: 0
  .search-input
    display: inline-block
    float left
  .btn-primary
    margin-left: 8px
.s-grid
  margin-top: 15px
  display: block
