:host
  display: inline-block
  margin-left: 15px
  .node-search-wrapper
    .zone-search
      display: inline-block
      vertical-align: top
    .account-search
      display: inline-block
      vertical-align top
    .node-relate
      display: inline-block
      margin: 0 15px
      vertical-align: top
