.date-picker-wrapper
  position: relative
  width: 250px
  .input-wrapper
    position: relative
    .clear, .iconfont
      position: absolute
      top: 5px
      display: inline-block
      width: 20px
      height: 20px
      font-size: 16px
      font-style: normal
      line-height: 20px
      text-align: center
      cursor: pointer
    .clear
      right: 26px
    .iconfont
      right: 6px
  .panel-host
    display: inline-block
    position: absolute
    z-index: 99
    top: 32px
