.help-doc-wrapper
  float: right
  margin-right: 20px
  font-size: 0
  .simple-doc, .link-wrapper
    display: inline-block
    position: relative
    margin-left: 10px
    font-size: 12px
  .simple-doc h5, .link-wrapper .doc-link
    height: 50px
    line-height: 50px
    font-size: 12px
    color: #00c1e0
    cursor: pointer
    font-weight normal
  .simple-doc .doc-list, .link-wrapper .link-list
    display: none
    position: absolute
    top: 38px
    right: 0
    z-index: 5
    border: 1px solid #ccc
    border-radius: 5px
    line-height: 24px
    background: #fff
  .simple-doc .doc-list
    width: 250px
  .link-wrapper .link-list
    width: 150px
  .simple-doc:hover .doc-list, .link-wrapper:hover .link-list
    display: block
  .doc-list:before, .link-list:before
    position: absolute
    top: -6px
    right: 20px
    display: block
    content: ' '
    height: 10px
    width: 10px
    transform: rotate(45deg)
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    background: #fff
  .doc-list .item, .link-list .item
    position: relative
    padding-left: 20px
  .link-list a
    display: block
  .link-list a:hover
    cursor: pointer
    color: #00c1e0
  .doc-list .item:before
    position: absolute
    left: 5px
    top: 8px
    display: inline-block
    content: ' '
    width: 8px
    height: 8px
    border-radius: 50%
    background: #ddd
  .doc-list .item:after
    position: absolute
    top: 0
    left: 8px
    display: inline-block
    content: ' '
    width: 2px
    height: 100%
    background: #ddd
  .doc-list .item:first-child:after
    top: 12px
  .doc-list .item:last-child:after
    height: 12px
  .doc-link span
    display: inline-block
    margin-top: 4px
    margin-right: 2px
    width: 16px
    height: 16px
    border-radius: 50%
    line-height: 16px
    color: #fff
    font-size: 12px
    text-align: center
    background: #00c1e0
