<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container">
      <div class="form-group" *ngIf="isCanUpdate">
        <div class="form-name">
          <span class="form-label">vpn模式<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <div class="btn-group">
            <button (click)="selectVpn(item)" [ngClass]="{'active': vpnModel.value === item.value}" *ngFor="let item of vpnModels">{{item.name}}</button>
          </div>
        </div>
      </div>
      <div *ngIf="!isCanUpdate">
        <div class="tips">
          <span class="iconfont icon-jinggao-"></span>仅在禁用并且初始化后才能变更VPN模式。
        </div>
      </div>
    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" [disabled]="!isCanUpdate" (click)="confirm()">确定</button>
    </div>
  </app-w-dialog>
</div>
