.tooltip-wrapper
  position: absolute
  z-index: 4
  border: 1px solid #ddd
  border-radius: 4px
  background: #fff
  .tooltip-header
    position: relative
    width: 200px
    height: 36px
    padding-left: 5px
    padding-right: 30px
    border-bottom: 1px solid #ddd
    line-height: 36px
    .move-label, .close-label
      position: absolute
      top: 0
      right: 5px
  .tooltip-content
    padding: 5px
    line-height: 24px
    table
      width: 100%
