<div class="container">
  <app-w-dialog [title]="dialogOptions.title" [width]="dialogOptions.width" [(visible)]="dialogOptions.visible" [changeHeight]="dialogOptions.changeHeight">
    <div class="content-menu">
      <app-batch-target-cidr-create [selectedCe]="selectedCe" [totalNum]="resourceQuotaNumber" [currentNum]="pagination.total" (done)="createTargetCidrDone($event)"></app-batch-target-cidr-create>
      <button class="btn-primary" [disabled]="!selectedCidrs.length" (click)="deleteTargetCidr()">删除</button>
    </div>
    <div class="dialog-body-wrapper">
      <app-grid class="s-grid" [data]="targetCidrs" [loading]="gridLoading" (selection-change)="selectItem($event)">
        <app-grid-column field="name" width="80px">
          <ng-template #header>
            <input (change)="selectAll(input_box)" type="checkbox" name="" [(ngModel)]="input_box">全选
          </ng-template>
          <ng-template #slot let-dataItem>
            <span>
              <input (change)="clickId()" [(ngModel)]="dataItem.status" [(checked)]="input_box" type="checkbox"/>
            </span>
          </ng-template>
        </app-grid-column>
        <app-grid-column field="targetCidr" header="目标网段"></app-grid-column>
        <app-grid-column field="createDate" header="创建时间">
          <ng-template #slot let-dataItem>
            {{dataItem.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}
          </ng-template>
          </app-grid-column>
      </app-grid>
      <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)" [dataTotal]="pagination.total" [(currentPage)]="pagination.current" (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
    </div>
    <div class="dialog-btn-wrapper">
      <button type="button" class="btn-default" (click)="close()">关闭</button>
    </div>
  </app-w-dialog>
</div>
