<form class="form-container" [formGroup]="ipCidrForm">
  <div class="form-group">
    <div class="form-name">
      {{modelName}}<span class="red">*</span>:
    </div>
    <div class="form-model">
      <input type="text" class="form-control" formControlName="number1"/>
      <input type="text" class="form-control" formControlName="number2"/>
      <input type="text" class="form-control" formControlName="number3"/>
      <input type="text" class="form-control" formControlName="number4"/>
      <span class="split">/</span>
      <input type="text" class="form-control" formControlName="number5"/>
    </div>
    <div class="form-error" *ngIf="
      (number1.invalid && (number1.dirty || number1.touched)) ||
      (number2.invalid && (number2.dirty || number2.touched)) ||
      (number3.invalid && (number3.dirty || number3.touched)) ||
      (number4.invalid && (number4.dirty || number4.touched)) ||
      (number5.invalid && (number5.dirty || number5.touched))
      ">
        <p class="error" *ngIf="
        (number1.errors && number1.errors['required']) ||
        (number2.errors && number2.errors['required']) ||
        (number3.errors && number3.errors['required']) ||
        (number4.errors && number4.errors['required']) ||
        (number5.errors && number5.errors['required'])
      ">目标网段必填</p>
        <p class="error" *ngIf="
        (number1.errors && number1.errors['pattern']) ||
        (number2.errors && number2.errors['pattern']) ||
        (number3.errors && number3.errors['pattern']) ||
        (number4.errors && number4.errors['pattern']) ||
        (number5.errors && number5.errors['pattern'])
      ">格式错误</p>
    </div>
  </div>
</form>
