.date-picker-panel
  margin: 5px 0
  border: 1px solid #dfe4ed
  border-radius: 4px
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1)
  color: #5a5e66
  line-height: 30px
  background: #fff
  .picker-header
    margin: 10px 10px 0
    text-align: center
    overflow: hidden
    .prev-btn, .next-btn
      margin-top: 8px
      font-size: 14px;
      color: #2d2f33
      border: 0
      cursor: pointer
      background: none
    .prev-btn
      float: left
    .next-btn
      float: right
    .picker-header-label
      padding: 0 5px;
      color: #5a5e66;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      cursor: pointer;
  .picker-content
    margin:  0 14px 14px
