<div class="date-picker-panel" [@dropAnimation]="show" [ngStyle]="{width: width ? width + 'px' : 'auto'}">
  <div class="picker-panel-body">
    <div class="picker-header">
      <button class="prev-btn prev-year-btn" (click)="nextYear(-1)" type="button"><i class="iconfont icon-arrow-left"></i><i class="iconfont icon-calendar-left"></i></button>
      <button class="prev-btn prev-month-btn" (click)="nextMonth(-1)" *ngIf="currentView === 'date'" type="button"><i class="iconfont icon-calendar-single-left"></i></button>
      <span class="picker-header-label" *ngIf="currentView !== 'year'" (click)="showPicker('year')">{{dateShowModels.year}}年</span>
      <span class="picker-header-label" *ngIf="currentView === 'year'" (click)="showPicker('year')">{{dateShowModels.yearRange[0]}}年 - {{dateShowModels.yearRange[1]}}年</span>
      <span class="picker-header-label" *ngIf="currentView === 'date'" [class.active]="currentView === 'month'" (click)="showPicker('month')">
      {{dateShowModels.month + 1}} 月
    </span>
      <button class="next-btn next-year-btn" type="button" (click)="nextYear(1)"><i class="iconfont icon-arrow-right"></i><i class="iconfont icon-calendar-right"></i></button>
      <button class="next-btn next-month-btn" (click)="nextMonth(1)" *ngIf="currentView === 'date'" type="button"><i class="iconfont icon-calendar-single-right"></i></button>
    </div>
    <div class="picker-content">
      <app-date-table *ngIf="currentView==='date'" (modelChange)="datePickChangeHandle($event)" [model]="model"></app-date-table>
      <app-year-table *ngIf="currentView === 'year'" [model]="model" (modelChange)="yearPickChangeHandle($event)"></app-year-table>
    </div>
    <app-month-table *ngIf="currentView === 'month'" [model]="model" (modelChange)="monthPickChangeHandle($event)"></app-month-table>
  </div>
</div>
