.form-container
  padding 20px 40px
  .form-name
    width: 70px;
    display inline-block
    float left
  .form-model
    display inline-block
    input,select,textarea
      width 240px
  .form-error
    padding-left 70px
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
