<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="applicationLinkForm">
      <div class="form-group clearfix">
        <div class="form-name">
          <span class="form-label">应用名称<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" minlength="2" maxlength="32" required formControlName="name"  placeholder="请输入应用名称">
        </div>
        <div class="form-error" *ngIf="name.invalid && (name.dirty || name.touched)">
          <p class="error" *ngIf="name.errors['required']">应用名称必填</p>
          <p class="error" *ngIf="name.errors['minlength']">长度至少2位</p>
          <p class="error" *ngIf="name.errors['maxlength']">长度至高32位</p>
        </div>
      </div>
      <div class="form-group">
        <div class="form-name">
          <span class="form-label">链路<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <select class="form-control" required formControlName="popUuid">
            <option value="">请选择</option>
            <option *ngFor="let item of ailLinks" [value]="item.value">{{item.text}}</option>
          </select>
        </div>
        <div class="form-error" *ngIf="popUuid.invalid && (popUuid.dirty || popUuid.touched)">
          <p class="error" *ngIf="popUuid.errors['required']">链路必选</p>
        </div>
      </div>
    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" (click)="confirm()" [disabled]="applicationLinkForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>
