.pagination
  padding: 15px
  &::after
    display: block
    content: ''
    clear: both
  .prev, .next, .pager, .jump
    display: block
    float: left
  .jump
    margin-left: 8px
  .sizer, .detail
    display: block
    float: right
  .detail
    margin-left: 8px
    line-height: 30px
    span
      color: #00c1e0
