<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="updateCeTunnelForm">
      <div class="form-group">
        <div class="form-name">
          <span class="form-label">端口:</span>
        </div>
        <div class="form-model">
          <span class="form-label">{{selectedPort?.name}}</span>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">是否启用端口<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <select class="form-control" formControlName="isOpenPort">
            <option *ngFor="let item of isOpenPortList" [value]="item.value">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="isOpenPort.value == 'Enabled'">
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">专线<span class="red">*</span>:</span>
          </div>
          <div class="form-model">
            <select class="form-control" formControlName="tunnel" (change)="changeTunnel($event)">
              <option *ngFor="let item of tunnels" [value]="item.uuid">{{item.name}}</option>
            </select>
          </div>
          <div class="form-error" *ngIf="tunnel.invalid && (tunnel.dirty || tunnel.touched)">
            <p class="error" *ngIf="tunnel.errors['required']">专线必填</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">专线连接点<span class="red">*</span>:</span>
          </div>
          <div class="form-model">
            <select class="form-control" formControlName="endpoint" (change)="changeEndpoint($event)">
              <option *ngFor="let item of endpoints" [value]="item.uuid">{{item.name}}</option>
            </select>
          </div>
          <div class="form-error" *ngIf="endpoint.invalid && (endpoint.dirty || endpoint.touched)">
            <p class="error" *ngIf="endpoint.errors['required']">专线连接点必填</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">vlan:</span>
          </div>
          <div class="form-model">
            <span class="form-label">{{vlanInfos?.vlan}}</span>
          </div>
        </div>
        <div class="form-group" *ngIf="vlanInfos?.localIp">
          <div class="form-name">
            <span class="form-label">本地IP:</span>
          </div>
          <div class="form-model ip-input-group">
            <span><input class="form-control" disabled [value]="vlanInfos.localIp?.split('.')[0]"/></span>
            <span class="point">.</span>
            <span><input class="form-control" disabled [value]="vlanInfos.localIp?.split('.')[1]"/></span>
            <span class="point">.</span>
            <span><input class="form-control" disabled [value]="vlanInfos.localIp?.split('.')[2]"/></span>
            <span class="point">.</span>
            <span><input class="form-control" formControlName="ip"/></span>
            <span class="point">/</span>
            <span><input class="form-control" disabled [value]="vlanInfos?.netmask"/></span>
          </div>
          <div class="form-error" *ngIf="ip.invalid && (ip.dirty || ip.touched)">
            <p class="error" *ngIf="ip.errors['required']">ip必填</p>
            <p class="error" *ngIf="ip.errors['pattern']">ip格式不对</p>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">监控地址:</span>
          </div>
          <div class="form-model">
            <span class="form-label">
              {{vlanInfos?.remoteIp}}
              <span *ngIf="!vlanInfos?.remoteIp" class="error">未获取到监控IP，请前往专线配置</span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="form-name">
            <span class="form-label">是否主连接:</span>
          </div>
          <div class="form-model">
            <span [ngStyle]="{'margin-right':'20px'}"><input class="form-control" name="haType" type="radio" value="Master" formControlName="haType">是</span>
            <span><input class="form-control" name="haType" type="radio" value="Slave" formControlName="haType">否</span>
          </div>
        </div>
      </div>

    </form>
    <div class="btn-footer">
      <button class="btn-default" (click)="cancel()">取消</button>
      <button class="btn-primary" (click)="confirm()" [disabled]="updateCeTunnelForm.invalid || !vlanInfos?.remoteIp">确定</button>
    </div>
  </app-w-dialog>
</div>
