<app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width">
    <div class="form-container">

        <div class="form-group">
            <div class="form-model">
                <label *ngFor="let vpe of allVpe">
                    <input type="checkbox" (change)="changeBox($event,vpe)" [(ngModel)]="selectVpeUuid[vpe.uuid]" [disabled]="vpe.disabled">{{vpe.name}}
                </label>
            </div>
            <div class="tips" ng-show="tips">
                <span class="red">{{tips}}</span>
            </div>
        </div>

        <div class="btn-container">
            <button type="button" class="btn-default" (click)="cancel()">取消</button>
            <button type="button" class="btn-primary" (click)="confirm()">确定</button>
        </div>
    </div>
</app-w-dialog>
