<div class="create-wrapper">

  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight" [height]="345" (visibleChange)="clearTimer()" [zIndex]="999">
    <form class="form-container" [formGroup]="mfaForm">

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">安全类型<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <app-btn-group [models]="mfaTypes" formControlName="currentType" (modelChange)="changeMfaType($event)"></app-btn-group>
        </div>
      </div>

      <div *ngIf="currentType.value==='Phone'">
        <div class="form-group">
            <div class="form-label form-name">绑定手机:</div>
            <div class="form-model">
                <input class="form-control" formControlName="bingPhone" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-label form-name">{{"输入验证码"}}<span class="red">*</span>:</label>
            <div class="form-model">
                <input class="form-control inputCode" formControlName="phoneCode" placeholder="{{'请输入手机验证码'}}">
                <app-count-down [content]="countDown" (done)="getPhoneCodeDone()"></app-count-down>
            </div>
            <div class="form-error" *ngIf="phoneCode.invalid && (phoneCode.dirty || phoneCode.touched)">
              <p class="error" *ngIf="phoneCode.errors['required']">验证码必填</p>
            </div>
            <div class="form-error" *ngIf="isInvalidateCode">
                <p class="error">{{"验证错误"}}</p>
            </div>
        </div>
        <div class="form-group config-default">
            <div class="col-sm-offset-2">
                <input formControlName="defaultMfaTypePhone" class="form-control" type="checkbox" [checked]="defaultMfaType === 'Phone'" />设置默认
            </div>
        </div>
        <app-bottom-comment [comment]="'通过发送手机短信验证码的方式进行安全验证'"></app-bottom-comment>
      </div>

      <div *ngIf="currentType.value==='Google'">
          <div class="form-group" *ngIf="isShow.google">
              <div class="form-label form-name">{{"安全码"}}<span class="red">*</span>：</div>
              <div class="form-model">
                  <input type="text" placeholder="{{'请输入安全码'}}" class="form-control" formControlName="gaCode">
              </div>
              <div class="form-error" *ngIf="gaCode.invalid && (gaCode.dirty || gaCode.touched)">
                <p class="error" *ngIf="gaCode.errors['required']">安全码必填</p>
              </div>
              <div class="form-error" *ngIf="isInvalidateCode">
                  <p class="error">{{"验证错误"}}</p>
              </div>
          </div>
          <div *ngIf="!isShow.google">
              <div class="bind-tips">
                  您还没有绑定MFA设备，请进入<a (click)="dialogOptions.close($event);" href="/boss/account/#/setting/safeConfig">安全设置</a>绑定设备。<a target="_blank" href="/docs/account/mfa">帮助指引</a>
              </div>
          </div>
          <div class="form-group config-default" *ngIf="isShow.google">
              <div class="col-sm-offset-2">
                  <input formControlName="defaultMfaTypeGoogle" class="form-control" type="checkbox" [checked]="defaultMfaType === 'Google'" />设置默认
              </div>
          </div>
          <app-bottom-comment [comment]="'通过绑定的MFA设备获取安全码的方式。如何获取：1.微信添加小程序【二次验证码】2.前往应用商店下载手机客户端 android版【Google 身份验证器】 iOS版【Google Authenticator】'"></app-bottom-comment>
      </div>

      <div *ngIf="currentType.value==='WeChat'">
          <div class="form-group wechat" *ngIf="isShow.wechat">
              <div class="form-label form-name">{{"微信二维码"}}<span class="red">*</span>：</div>
              <div class="form-model">
                  <img *ngIf="wechatQRData" [src]=wechatQRData?.qrUrl />
                  <a (click)="refresh()" title="刷新二维码">刷新</a>
              </div>
          </div>
          <div *ngIf="!isShow.wechat">
              <div class="bind-tips">
                  您还没有绑定微信，请进入<a (click)="dialogOptions.close($event);" href="/boss/account/#/setting/safeConfig">安全设置</a>绑定微信。<a target="_blank" href="/docs/account/mfa">帮助指引</a>
              </div>
          </div>
          <div class="form-group config-default" *ngIf="isShow.wechat">
              <div class="col-sm-offset-2">
                  <input formControlName="defaultMfaTypeWeChat" class="form-control" type="checkbox" [checked]="defaultMfaType === 'WeChat'">设置默认
              </div>
          </div>
          <app-bottom-comment [comment]="'通过绑定的微信扫描二维码的方式进行安全验证'"></app-bottom-comment>
      </div>

    </form>
    <div class="btn-footer">
      <button class="btn-default" type="button" (click)="cancel()">取消</button>
      <button class="btn-primary" type="button" (click)="confirm()" [disabled]="mfaForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>
<app-loading-window #loading></app-loading-window>
