.form-container
  padding 20px 40px
  .form-name
    width: 100px;
    display inline-block
    float left
    margin-right 15px
  .form-model
    display inline-block
    input,select,textarea
      width 283px
    input.inputCode
      width 160px
      margin-right 23px
      float left
    .btn-getCode
      width: 100px;
      border: 1px solid #ccc;
      height: 30px;
      background none
      cursor pointer
      font-size 12px
  .form-error
    padding-left 115px
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
img{
  border: 1px solid #ccc;
  width: 240px;
}
.form-error p {
    color: #ef606e;
}
a{
  color: #00c1e0;
  cursor: pointer;
}
.config-default{
  padding-left 115px
}
