.btn-prev, .btn-next
  display: inline-block
  height: 30px
  border: 1px solid #ccc
  border-radius: 2px
  font-size: 12px
  line-height: 30px
  vertical-align: middle
  cursor: pointer
  &:hover
    border-color: #00bce0
    color: #fff
    background: #00c1e0
  &.disabled
    color: #999
    border-color: #eee
    background: #fff
    cursor: not-allowed
  i
    font-size: 16px
.btn-prev
  margin-right: 8px
  padding-right: 8px
.btn-next
  margin-left: 8px
  padding-left: 8px
