<div class="create-wrapper">
    <button type="button" class="btn-primary" (click)="openDialog()"><i class="iconfont icon-plus"></i>新建SD-WAN网络</button>

    <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                  [changeHeight]="dialogOptions.changeHeight">
        <form class="form-container" [formGroup]="createNetworkForm">
            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">账户名<span class="red">*</span>:</span>
                </div>
                <div class="form-model">
                    <app-search-account [inputWidth]="'180px'" class="account-ref-wrapper" formControlName="accountUuid" (selectedAccountChange)="changeAccount($event)"></app-search-account>
                </div>
                <div class="form-error" *ngIf="accountUuid.invalid && (accountUuid.dirty || accountUuid.touched)">
                    <p class="error" *ngIf="accountUuid.errors['required']">用户信息必填</p>
                </div>
            </div>

            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">SD-WAN网络名称<span class="red">*</span>:</span>
                </div>
                <div class="form-model">
                    <input class="form-control" formControlName="name" placeholder="请输入名称" minlength="6" (ngModelChange)="changeName($event)">
                </div>
                <div class="form-error" *ngIf="tips.nameTip">
                    <p class="error" *ngIf="tips.nameTip">{{tips.nameTip}}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">选择三层网络<span class="red">*</span>:</span>
                </div>
                <div class="form-model">
                  <div class="btn-group">
                    <button type="button" (click)="selectType('auto')"  [ngClass]="{'active':selectedL3 == 'auto'}">自动</button>
                    <button type="button" (click)="selectType('manual')"  [ngClass]="{'active':selectedL3 == 'manual', 'disabled':manualInvalid}" [disabled]="manualInvalid">指定云网络</button>
                  </div>
                </div>
            </div>

            <div class="form-group" *ngIf="selectedL3 === 'manual'">
                <div class="form-name">
                    <span class="form-label">指定云网络<span class="red">*</span>:</span>
                </div>
                <div class="form-model">
                    <select class="form-control" formControlName="l3networkUuid">
                        <option *ngFor="let l3net of l3NetworkList" [value]="l3net.uuid">{{l3net.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">互联地址<span class="red">*</span>:</span>
                </div>
                <div class="form-model form-input-group">
                    <input class="form-control" value="10" readonly>
                    <span>.</span>
                    <input class="form-control" value="0" formControlName="secondAddress" maxlength="3" (ngModelChange)="changeSecondAddress($event)">
                    <span>.</span>
                    <input class="form-control" value="0" readonly>
                    <span>.</span>
                    <input class="form-control" value="0" readonly>
                    <span>/</span>
                    <input class="form-control" value="16" readonly>
                </div>
                <div class="form-error form-error-group" *ngIf="tips.secondAddressTip">
                    <p class="error" *ngIf="tips.secondAddressTip">{{tips.secondAddressTip}}</p>
                </div>
            </div>

            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">描述:</span>
                </div>
                <div class="form-model">
                    <textarea class="form-control" formControlName="description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-name">
                    <span class="form-label">用途<span class="red">*</span>:</span>
                </div>
                <div class="form-model">
                    <select class="form-control" formControlName="purpose">
                        <option *ngFor="let pur of purposes" [value]="pur.name">{{pur.text}}</option>
                    </select>
                </div>
            </div>

            <div class="btn-container">
                <button type="button" class="btn-default" (click)="cancel()">取消</button>
                <button type="button" class="btn-primary" (click)="confirm()" [disabled]="createNetworkForm.invalid">确定</button>
            </div>
        </form>
    </app-w-dialog>
</div>
