<div class="range-picker-wrapper">
  <select class="form-control" (change)="shortClickHandle($event.target.value)">
    <option *ngFor="let item of shortCuts" [selected]="item.name === model.type" [value]="item.name">{{item.text}}</option>
  </select>
  <div class="custom-wrapper" (click)="$event.stopPropagation();" *ngIf="model.type === 'custom'">
    <div class="input-wrapper" (click)="wrapperClickHandle()">
      <span class="iconfont icon-clock" style="margin-left: 5px;"></span>
      <span class="label-control">{{startText}}</span>
      <span>至</span>
      <span class="label-control">{{endText}}</span>
      <span class="clear-btn" (click)="clearClick($event)">&times;</span>
    </div>
    <app-daterange-panel [(show)]="showPanel" [start]="rangeModel.start" [end]="rangeModel.end" (startChange)="startChange($event)" (endChange)="endChange($event)" [maxRange]="maxRange"></app-daterange-panel>
  </div>
</div>
