<div class="title">
  <span class="back" (click)="payService.goBack()"><i class="icon iconfont icon-arrow_left"></i>返回</span>
  <span class="title-text">支付确认</span>
</div>
<table class="pay-table">
  <thead>
    <tr>
      <th>类型</th>
      <th>资源</th>
      <th>名称</th>
      <th>资源标识 | 说明</th>
      <th>付费时长</th>
      <th>合计</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{tableData?.type}}</td>
      <td>{{tableData?.resource}}</td>
      <td>{{tableData?.name}}</td>
      <td>
        <ng-container *ngIf="productType === 'idc'">
          <p *ngFor="let item of tableData?.description">{{item.name}} {{item.cost}}(元/月)</p>
        </ng-container>
      </td>
      <td>{{tableData?.duration}}</td>
      <td>¥{{tableData?.totalPay}}</td>
      <td>{{tableData?.status}}</td>
    </tr>
  </tbody>
</table>
<div class="info-container">
  <div class="deal-info">
    <p class="tip">您所购买的产品服务将开启自动续费<br/>(以最终支付价格为准)</p>
    <p class="btn-container">
      <button type="button" class="btn-default" (click)="payService.goBack()">取消购买</button>
      <button type="button" class="btn-primary" (click)="confirm()">确认支付</button>
      <a class="btn-primary" *ngIf="recharge" href="/boss/account/#/billing/recharge">代充值</a>
    </p>
  </div>
  <div class="billing-info">
    <p><span class="text-right">当前账户余额：</span><span class="red">¥{{cashBalance}}</span></p>
    <p><span class="text-right">可用赠送余额：</span><span class="red">¥{{presentBalance}}</span></p>
    <p><span class="text-right">可用信用额度：</span><span class="red">¥{{creditPoint}}</span></p>
  </div>
  <div class="order-info">
    <p><span class="text-right">订单数量：</span><span class="red">1</span></p>
    <p><span class="text-right">合计：</span><span class="red">¥{{tableData?.totalPay}}</span></p>
  </div>
</div>
<app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width">
  <div class="modal-info-wrapper">
    <p class="loading-info" [ngClass]="infoType">{{loadingInfo}}</p>
    <span class="sysicon-spin5 animate-spin loading-icon"></span>
  </div>
</app-w-dialog>
