<div class="container">
  <app-w-dialog [title]="dialogOptions.title" [width]="dialogOptions.width" [(visible)]="dialogOptions.visible" [changeHeight]="dialogOptions.changeHeight" (visibleChange) = validatorModel()>
    <div class="content-menu">
      <app-firewall-create [isModel]="isModel" [selectedItem]="selectedItem" [totalNum]="resourceQuotaNumber" [currentNum]="fireWalls.length" (done)="createFirewallDone($event)"></app-firewall-create>
      <button class="btn-primary" [disabled]="!selectedFireWall.length" (click)="deleteFireWall()">删除</button>
    </div>
    <div class="app-grid">
      <table class="app-grid-start">
        <thead class="app-grid-header">
          <tr>
            <td width="80px" class="app-grid-cell">
              <input (change)="selectAll(input_box)" type="checkbox" name="" [(ngModel)]="input_box">全选
            </td>
            <td class="app-grid-cell">源地址</td>
            <td class="app-grid-cell">目的地址</td>
            <td class="app-grid-cell">源端口</td>
            <td class="app-grid-cell">目的端口</td>
            <td class="app-grid-cell">协议</td>
            <td class="app-grid-cell">方向</td>
            <td class="app-grid-cell">操作</td>
          </tr>
        </thead>
        <tbody class="app-grid-body" dragula="VAMPIRES" [(dragulaModel)]="fireWalls">
          <tr *ngFor="let item of fireWalls;index as _index;">
            <td class="app-grid-cell">
              <input (change)="clickId()" [(ngModel)]="item.status" [(checked)]="input_box" type="checkbox"/>
            </td>
            <td class="app-grid-cell">{{item.srcIP}}</td>
            <td class="app-grid-cell">{{item.destIP}}</td>
            <td class="app-grid-cell">{{item.srcPort}}</td>
            <td class="app-grid-cell">{{item.destPort}}</td>
            <td class="app-grid-cell">{{item.protocol}}</td>
            <td class="app-grid-cell">{{item.direction}}</td>
            <td class="app-grid-cell">{{item.action}}</td>
          </tr>
        </tbody>
      </table>
      <div class="grid-empty-block" *ngIf="!pagination.show">
        <span class="empty-text">暂无数据</span>
      </div>
      <div class="grid-loading" *ngIf="gridLoading">
        <span class="iconfont icon-loading"></span>
        loading...
      </div>
      <!--<app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)" [dataTotal]="pagination.total" [(currentPage)]="pagination.current" (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>-->
      <p class="attention"><span class="iconfont icon-jinggao-"></span>注：防火墙顺序可通过拖动列表来调整。</p>
    </div>

    <div class="dialog-btn-wrapper">
      <button type="button" class="btn-default" (click)="cancel();validatorModel()">取消</button>
      <button type="button" class="btn-primary" (click)="save()">保存</button>
    </div>
  </app-w-dialog>
</div>
