.relate-wrapper
  font-size: 0
  .relate-select, .relate-input
    display: inline-block
    height: 30px
    padding: 6px 12px
    border: 1px solid #ccc
    font-size: 12px
    line-height: 1.4285
    vertical-align: middle
    color: #555
    background: #fff
    &:focus
      outline: 0
      border-color: #00c1e0
      box-shadow: inset 0 1px 3px rgba(0,193,224,.075)
  .relate-name
    border-radius: 2px 0 0 2px
    vertical-align: top
  .relate-value
    display: inline-block
    margin-left: -1px
    .relate-input, .relate-select
      border-radius: 0 2px 2px 0
      width: 160px
      vertical-align: top
