<div class="create-wrapper">
  <button class="btn-primary" (click)="openDialog()"><i class="iconfont icon-plus"></i>添加静态路由</button>

  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight" [height]="'730'">
    <form class="form-container" [formGroup]="createCeRouteForm">
      <div class="tips">
        <span class="iconfont icon-jinggao-"></span>
        允许创建静态路由数量: <span class="number">{{totalNum}}</span>个, 已创建：<span class="number">{{currentNum}}</span>个, 剩余： <span class="number">{{totalNum - currentNum}}</span>个
      </div>
      <div class="form-group">
       <div class="form-name">
         <span class="form-label">目标网段<span class="red">*</span>:</span>
       </div>
        <div class="form-model" [ngStyle]="{width: '240px'}">
          <textarea class="form-control" formControlName="destination" placeholder="例8.8.8.8或1.1.1.0/24,如多个网段请换行分隔" ></textarea>
        </div>
        <div class="form-error" *ngIf="destination.invalid && (destination.dirty || destination.touched)">
          <p class="error" *ngIf="destination.errors['required']">目标网段必填</p>
          <p class="error" *ngIf="destination.errors['invalidIp']">{{destination.errors['invalidIp']}}</p>
        </div>
      </div>
      <div class="form-group">
       <div class="form-name">
         <span class="form-label">下一跳地址<span class="red">*</span>:</span>
       </div>
        <div class="form-model">
          <input class="form-control" formControlName="nexthop" placeholder="例8.8.8.8" />
        </div>
        <div class="form-error" *ngIf="nexthop.invalid && (nexthop.dirty || nexthop.touched)">
          <p class="error" *ngIf="nexthop.errors['required']">下一跳地址必填</p>
          <p class="error" *ngIf="nexthop.errors['pattern']">格式不正确</p>
        </div>
      </div>
    </form>
    <div class="btn-footer">
      <button class="btn-default" type="button" (click)="close()">取消</button>
      <button class="btn-primary" type="button" (click)="confirm()" [disabled]="createCeRouteForm.invalid">确定</button>
    </div>
  </app-w-dialog>
</div>
