<div class="header-container">
  <img class="logo" src="/cxpstatics/images/logo.png">
  <div class="header-dropdown">
    <app-w-dropdown [inputParams]="inputParams" [trigger]="'click'" iconColor="#fff">
      <span class="header-drop-down-toggle" drop-type="toggle"><i class="icon iconfont icon-user"></i>{{username}}</span>
      <ul class="header-drop-down-menu" drop-type="menu">
        <li><a href="/boss/account/#/setting/message"><i class="icon iconfont icon-cog"></i>账户设置</a></li>
        <li (click)="logout()"><span><i class="icon iconfont icon-logout"></i>退出</span></li>
      </ul>
    </app-w-dropdown>
  </div>
</div>
