<div class="content directive-bandwidth">
    <div class="form-group">
        <label class="form-label form-name" [ngStyle]="{width:inputWidth}">带宽范围<span class="red">*</span>:</label>
        <div class="form-model btn-group">
            <button (click)="changeBandwidthRange(item)" class="btn" [ngClass]="{'active':bandwidthRange.text==item.text}" type="button" *ngFor="let item of bandwidthRanges">{{item.text}}</button>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label form-name" [ngStyle]="{width:inputWidth}">{{inputName}}<span class="red">*</span>:</label>
        <div class="form-model">
            <div class="bandwidth">
              <button *ngFor="let item of bandwidthDatas" type="button" (click)="selectOutputBandwidth(item)" [ngClass]="{'active':outputBandwidth==item}" [disabled]="currentBandwidth==item.uuid">{{ item.uuid }}</button>
            </div>
        </div>
    </div>
</div>
