.directive-bandwidth
  .form-group
    &:nth-child(2)
      margin-bottom 0
    .form-model
      overflow hidden
      button
        float left
      .bandwidth
        button
          float: left;
          margin-right: 2px;
          background: rgba(199, 206, 208, 0.5);
          width: 50px;
          height: 30px;
          line-height: 30px;
          margin-bottom: 2px;
          text-align: center;
          color: #6e7880;
          cursor: pointer;
          padding: 0;
          border 1px solid transparent
          &:focus
            outline none
          &.active
            border: 1px solid #00c1e0;
            background: rgba(188, 237, 245, .38);
            color: #00c1e0 !important;
            outline none
            z-index 2
            transition all ease-in-out .3s
          &[disabled]
            background #bfbfbf
            cursor not-allowed
