.create-wrapper
  display inline-block
.form-container
  padding 20px 40px
  .tips
    line-height: 30px
    font-size: 12px
    color: #333
    background: #b2ecf6
    border: 1px solid #00c1e0
    padding-left: 10px
    border-radius: 3px
    margin: 0 auto 25px
    .iconfont
      color #00c1e0
      margin-right 2px
      top 1px
      position relative
    .number
      font-size 14px
      color: #806311;
      font-weight bold
      margin 0 3px
  .form-name
    width: 100px;
    display inline-block
    float left
  .form-model
    display inline-block
    line-height 30px;
    input
      width: 40px;
      float: left;
      margin-right: 12px;
      padding: 0;
      text-align: center;
    span.split
      float left
      margin-right 12px
      line-height 30px;
  .form-error
    padding-left 100px
  .account-ref-wrapper
    width: 300px
  .item-btn
    width 100%
    i
      float right
  i.icon
    display inline-block
    width 20px
    height 20px
    text-align center
    line-height 20px
    border 1px solid #666
    border-radius 50%
    color #333
    font-size 12px
    font-weight bold
    cursor pointer
    transition all ease-in-out .3s
    margin-left 22px
    &:hover
      background-color #333
      color #fff
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
div.ng-dirty.ng-invalid
  border none
.form-group-list
  .item
    padding-bottom 15px
    border-bottom 1px dashed #ccc
    &:last-child
      padding-bottom 0
      border-bottom 0
textarea
  height 120px
  width 300px
