.chart-wrapper
  padding: 15px 15px 0
  .search-wrapper
    .daterange-host
      float: left
      display: block
      margin-right: 15px
  .line-chart
    position: relative
    height: 400px
    .no-data
      position: absolute
      top: 50%
      left: 50%
      margin-left: -75px
      width: 150px
      height: 30px
      text-align: center
      line-height: 30px
      background: #f3f3f3
.btn-container
  background: #e1eef0

.btn-group
  text-align center
  padding-bottom: 10px
  padding-top: 10px
  button
    float none
  .active
    border: 1px solid #00c1e0!important;
    background: rgba(188,237,245,.38)!important;
    color: #00c1e0;
