<app-right-modal [title]="modelOption.title" [width]="modelOption.width" [(toggle)]="modelOption.toggle">
  <ul class="list right-detail">
    <li><span class="name">UUID：</span><span class="text">{{selectedItem?.uuid}}</span></li>
    <li><span class="name">编号：</span><span class="text">{{selectedItem?.code}}</span></li>
    <li><span class="name">VPE名称：</span><span class="text">{{selectedItem?.name}}</span></li>
    <li><span class="name">位置：</span><span class="text">{{selectedItem?.address}}</span></li>
    <li><span class="name">管理IP：</span><span class="text">{{selectedItem?.manageIp}}</span></li>
    <li><span class="name">SSH端口：</span><span class="text">{{selectedItem?.sshPort}}</span></li>
    <li><span class="name">用户名：</span><span class="text">{{selectedItem?.username}}</span></li>
    <li><span class="name">创建时间：</span><span class="text">{{selectedItem?.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</span></li>

    <li class="detail-split-line"></li>
    <li><span class="name detail-title">接口管理</span></li>
    <ng-container *ngFor="let item of interfaceLists; last as isLast">
      <li><span class="name">连接点：</span><span class="text">{{item?.endpointName}}</span></li>
      <li><span class="name">交换机名称：</span><span class="text">{{item?.switchName}}</span></li>
      <li><span class="name">交换机端口：</span><span class="text">{{item?.switchPortName}}</span></li>
      <li [ngClass]="{'interfaceBox-last': !isLast}"><span class="name">网卡名称：</span><span class="text">{{item?.interfaceName}}</span></li>
    </ng-container>

    <li class="detail-split-line"></li>
    <li><span class="name detail-title">公网线路</span></li>
    <ng-container *ngFor="let item of networkLists; last as isLast">
      <li><span class="name">线路名称：</span><span class="text">{{item?.type|vpePublicNetworkType}}</span></li>
      <li><span class="name">IP：</span><span class="text">{{item?.publicIp}}</span></li>
      <li><span class="name">网卡：</span><span class="text">{{item?.interfaceName}}</span></li>
      <li><span class="name">带宽：</span><span class="text">{{item?.bandwidth/1048576}}M</span></li>
      <li [ngClass]="{'interfaceBox-last': !isLast}"><span class="name">创建时间：</span><span class="text">{{item?.createDate|date: 'yyyy-MM-dd HH:mm:ss'}}</span></li>
    </ng-container>

    <li class="detail-split-line"></li>
    <li><span class="name">CPE接入数量：</span><span class="text">{{CeNumOnVpe.masterCeNum+CeNumOnVpe.slaveCeNum}}台</span></li>
    <li><span class="name">主用：</span><span class="text">{{CeNumOnVpe.masterCeNum}}台</span></li>
    <li><span class="name">备用：</span><span class="text">{{CeNumOnVpe.slaveCeNum}}台</span></li>
    <li><span class="name">当前使用带宽：</span><span class="text">{{CeNumOnVpe.usedBandwidth}}</span></li>
  </ul>
</app-right-modal>
