<div class="height-0">
  <app-vpe-detail #detail [selectedItem]="selectedItem"></app-vpe-detail>
  <app-vpe-update #update [selectedItem]="selectedItem" (done)="doneSearch()"></app-vpe-update>
  <app-common-window #setState [width]="setStateCommonOption.width" [title]="setStateCommonOption.title"
                     [tips]="setStateCommonOption.tips" [message]="setStateCommonOption.message"
                     (done)="setStateDone()"></app-common-window>
  <app-common-window #reconnect [width]="reconnectCommonOption.width" [title]="reconnectCommonOption.title"
                     [message]="reconnectCommonOption.message"
                     (done)="reconnectDone()"></app-common-window>
  <app-common-window #delete [width]="deleteCommonOption.width" [title]="deleteCommonOption.title"
                     [message]="deleteCommonOption.message"
                     (done)="deleteDone()"></app-common-window>
  <app-vpe-set-network #setNetwork [selectedItem]="selectedItem" (done)="doneSearch()"></app-vpe-set-network>
  <app-vpe-interface #interface [selectedItem]="selectedItem" (done)="doneSearch()"></app-vpe-interface>
  <app-loading-window #loading></app-loading-window>

</div>


<div class="title">VPE管理</div>
<div class="content-menu">
  <app-vpe-creat (done)="doneCreate($event)"></app-vpe-creat>
  <app-vpe-search (done)="searchDone($event)"></app-vpe-search>
</div>

<div class="grid-wrapper">
  <app-grid class="s-grid" [data]="vpeLists" (selection-change)="showDetail($event)" [loading]="gridLoading">
    <app-grid-column field="code" header="编号"></app-grid-column>
    <app-grid-column field="name" header="VPE名称"></app-grid-column>

    <app-grid-column field="nodeName" header="节点"></app-grid-column>
    <app-grid-column field="type" header="类型"></app-grid-column>
    <app-grid-column field="manageIp" header="管理IP"></app-grid-column>

    <app-grid-column field="status" header="状态" width="80px">
      <ng-template #slot let-dataItem>
        <span *ngIf="dataItem.status === 'Connected'" class="label label-success">正常</span>
        <span *ngIf="dataItem.status === 'Disconnected'" class="label label-danger">异常</span>
        <span *ngIf="dataItem.status === 'Connecting'" class="label label-info">连接中</span>
        <span class="label label-gray" *ngIf="dataItem.status !== 'Connected' && dataItem.status !== 'Disconnected' && dataItem.status !== 'Connecting' ">{{dataItem.status}}</span>
      </ng-template>
    </app-grid-column>

    <app-grid-column field="state" header="状况" width="80px">
      <ng-template #slot let-dataItem>
        <span class="label label-success" *ngIf="dataItem.state === 'Enabled'">启用</span>
        <span class="label label-danger" *ngIf="dataItem.state === 'Disabled'">禁用</span>
        <span class="label label-gray" *ngIf="dataItem.state !== 'Enabled' && dataItem.state !== 'Disabled' ">{{dataItem.state}}</span>
      </ng-template>
    </app-grid-column>

    <app-grid-column field="createDate" header="创建时间">
      <ng-template #slot let-dataItem>
        {{dataItem.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </app-grid-column>
    <app-grid-column header="操作" width="80px">
      <ng-template #slot let-dataItem>
        <app-w-dropdown (click)="selectedRow(dataItem)">
          <ng-container drop-type="toggle">更多</ng-container>
          <ul drop-type="menu" class="grid-drop-menu">
            <li (click)="setNetwork.open()">配置公网线路</li>
            <li (click)="interface.open()">接口管理</li>
            <li (click)="update.open()">修改</li>
            <li *ngIf="dataItem.state === 'Enabled'" (click)="openSetStateWin(dataItem)">禁用</li>
            <li *ngIf="dataItem.state === 'Disabled'" (click)="openSetStateWin(dataItem)">启用</li>
            <li (click)="openReconnect(dataItem)">重连</li>
            <li (click)="openDeleteWin(dataItem)">删除</li>
            <li><a class="li-btn" href="#/sdwan/cpe?name=popInfos.vpeUuid&value={{dataItem.uuid}}">CPE管理</a></li>
          </ul>
        </app-w-dropdown>
      </ng-template>
    </app-grid-column>

  </app-grid>

  <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)"
                  [dataTotal]="pagination.total" [(currentPage)]="pagination.current"
                  (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
</div>
