<app-w-dialog [title]="title" [width]="width" [(visible)]="dialogOptions.visible" (visibleChange) = cancel()>
  <div class="common-wrapper">
    <p [innerHtml]="tips" *ngIf="tips" class="tips"></p>
    <p [innerHtml]="message | escapeHtml" class="message"></p>
    <p [innerHtml]="otherMessage"></p>
    <div class="btn-container">
      <button type="button" class="btn-default" (click)="cancel()">取消</button>
      <button type="button" class="btn-primary" (click)="confirm()">确定</button>
    </div>
  </div>
</app-w-dialog>
