.common-wrapper
  padding: 15px 15px 0
  p
    margin-bottom: 15px
    line-height: 24px
  .message
    text-align: center
    word-break break-all
  .tips
    line-height: 25px
    font-size: 12px
    color: #333
    background: #b2ecf6
    border: 1px solid #00c1e0
    border-radius: 3px
    margin: 0 auto 20px
    padding: 6px 10px

  .btn-container
    background: #e1eef0
