<div class="height-0">
  <app-public-network-monitor-chart [selectedItem]="selectedItem" #chartWin></app-public-network-monitor-chart>
</div>
<div class="title">VPE公网监控</div>
<div class="content-menu">
  <app-public-network-monitor-search [searchInitObj]="searchInitObj" (done)="searchDone($event)"></app-public-network-monitor-search>
</div>
<div class="grid-wrapper">
  <app-grid class="s-grid" [data]="vpeLists" [loading]="gridLoading">
    <app-grid-column field="vpeName" header="VPE名称"></app-grid-column>
    <app-grid-column field="interfaceName" header="VPE网卡"></app-grid-column>
    <app-grid-column field="bandwidth" header="带宽(Mbps)">
      <ng-template #slot let-dataItem>{{dataItem.bandwidth/1048576}}</ng-template>
    </app-grid-column>
    <app-grid-column field="usedBandwidth" header="实际使用">
      <ng-template #slot let-dataItem>
        <span class="label" ngClass="{{dataItem.bandwidthRatio}}">{{(dataItem.usedBandwidth/1048576).toFixed(2)}}</span>
        <span class="iconfont icon-chart link-monitor" (click)="openMonitor(dataItem, $event)"></span>
      </ng-template>
    </app-grid-column>
    <app-grid-column field="type" header="公线网络">
      <ng-template #slot let-dataItem>
        <span>{{dataItem.type | vpePublicNetworkType}}</span>
      </ng-template>
    </app-grid-column>
    <app-grid-column field="publicIp" header="IP"></app-grid-column>
    <app-grid-column field="status" header="状态" width="80px">
      <ng-template #slot let-dataItem>
        <span *ngIf="dataItem.status === 'Connected'" class="label label-success">正常</span>
        <span *ngIf="dataItem.status === 'Disconnected'" class="label label-danger">异常</span>
        <span *ngIf="dataItem.status === 'Connecting'" class="label label-info">连接中</span>
      </ng-template>
    </app-grid-column>
    <app-grid-column field="lastOpDate" header="最后更新时间">
      <ng-template #slot let-dataItem>
        {{dataItem.lastOpDate | date: 'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </app-grid-column>
  </app-grid>

  <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)"
                  [dataTotal]="pagination.total" [(currentPage)]="pagination.current"
                  (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
</div>
