.tab
  padding-top 25px
  .sub
    padding-left 20px
.right-detail
  margin  20px ;
  li.item
    line-height 28px
    padding 20px 0
    border-bottom 1px dashed #ccc
    &:last-child
      border-bottom 0
    &:first-child
      padding-top 0
    &:after
      display block
      content ''
      clear both
    ul li
      &:after
        content ''
        clear both
        display block
    h3
      font-weight bold
      font-size 14px
    .col-md-6
      width 50%
      display inline-block
      float left
    .name
        width 100px
        display block
        color #777
        float left
    .model
      color #333
      display block
      padding-left: 100px
    .des
      position relative
      background #eee
      span.name
        width auto
      span.model
        margin-right 20px
        float left
        padding-left 0
      i
        color: #00c1e0;
        position: absolute;
        right: 40px;
        top: 50%;
        display: inline-block;
        margin-top: -7px;
        width: 14px;
        height: 14px;
        line-height: 14px;
        font-weight: bold;
        cursor: pointer;
    ul
      .list
        margin-top 10px
        &.border-active
          border-color #00c1e0
        span
          margin-right 20px
    .icon-cog,.icon-edit
      cursor pointer
      color #00c1e0
      font-weight bold
      margin-left 2px
    .ospfList
      padding 0 15px
      //.ospfItem
      //  float left;
      //  width: 45%

li.clearfix
  ul li
    overflow hidden
.more
  color #00c1e0
  transition all ease-in-out .3s
  cursor pointer
  &:hover
    color #009ebc
    text-decoration underline

.policyPath
  .loadBalance
    .form-group-item
      overflow hidden
      margin-bottom 15px
      ._item
        float left
        margin-right 50px
        .name
          width 60px
        .model
          padding-left 60px
        select
          width 100px
  .form-group
    p.s_title
      margin-bottom 10px
      i
        display: inline-block;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border: 1px solid #666;
        border-radius: 50%;
        color: #333;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        margin-left 5px
        &:hover
          color #00c1e0
          border-color #00c1e0
    select,input
      width 120px
    input[type="checkbox"]
      width 15px
      top 2px
      position relative
    .grid-drop-menu
      li
        line-height 40px
        cursor pointer
        width 140px
        padding-left 20px
        &:hover
          background #00c1e0
          color #fff
.empty-text
  display: block;
  margin: 10px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f5f5f5;
.error
  color #a94442
.margin-l-100
  margin-left 100px
.sys-link
  color #00c1e0
  cursor pointer
  &:hover
    color #0095b4
.icon-refresh
  font-size 14px
  font-weight bold
  color #00c1e0
.icon-loading
  color #00c1e0
.btn-link
  padding 0 5px;
  width auto
  cursor pointer
  border-radius 2px
  &:hover
    background: #2babbc
p.attention
  color #777
  line-height 30px
  margin-top 10px
  span
    color #00c1e0
    margin-right 5px
.qosLevelTips
  .detail
    margin-left 19px
    color #777
    span
      display inline-block
      width 60px
