<div class="container">
  <app-w-dialog [title]="dialogOptions.title" [width]="dialogOptions.width" [(visible)]="dialogOptions.visible" [changeHeight]="dialogOptions.changeHeight">
    <div class="content-menu">
      <app-qos-create [isModel]="isModel" [selectedItem]="selectedItem" [totalNum]="resourceQuotaNumber" [currentNum]="pagination.total" (done)="createQosDone($event)"></app-qos-create>
      <button class="btn-primary" [disabled]="!selectedQoss.length" (click)="deleteQos()">删除</button>
    </div>
    <div class="dialog-body-wrapper">
      <app-grid class="s-grid" [data]="qoss" [loading]="gridLoading" (selection-change)="selectItem($event)">
        <app-grid-column field="name" width="80px">
          <ng-template #header>
            <input (change)="selectAll(input_box)" type="checkbox" name="" [(ngModel)]="input_box">全选
          </ng-template>
          <ng-template #slot let-dataItem>
            <span><input (change)="clickId()" [(ngModel)]="dataItem.status" [(checked)]="input_box" type="checkbox"/>{{dataItem.id}}</span>
          </ng-template>
        </app-grid-column>
        <app-grid-column field="srcIp" header="源地址"></app-grid-column>
        <app-grid-column field="destIp" header="目的地址"></app-grid-column>
        <app-grid-column field="srcPort" header="源端口"></app-grid-column>
        <app-grid-column field="destPort" header="目的端口"></app-grid-column>
        <app-grid-column field="protocol" header="协议"></app-grid-column>
        <app-grid-column field="type" header="类型"></app-grid-column>
        <app-grid-column field="level" header="优先级">
          <ng-template #slot let-dataItem>
            <span class="btn-sm bg-golden" [appToolTip]="'保障带宽:60%；最大带宽：100%'" *ngIf="dataItem.level === 'GOLD'">金</span>
            <span class="btn-sm bg-silver" [appToolTip]="'保障带宽:20%；最大带宽：100%'" *ngIf="dataItem.level === 'SILVER'">银</span>
            <span class="btn-sm bg-copper" [appToolTip]="'保障带宽:10%；最大带宽：100%'" *ngIf="dataItem.level === 'COPPER'">铜</span>
          </ng-template>
        </app-grid-column>
        <app-grid-column field="operateType" header="属性">
            <ng-template #slot let-dataItem>
              <span *ngIf="dataItem.operateType === 'manual'">手动</span>
              <span *ngIf="dataItem.operateType === 'auto'">自动</span>
            </ng-template>
          </app-grid-column>
      </app-grid>
      <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)" [dataTotal]="pagination.total" [(currentPage)]="pagination.current" (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
    </div>
    <div class="dialog-btn-wrapper">
      <button type="button" class="btn-default" (click)="close()">关闭</button>
    </div>
  </app-w-dialog>
</div>
