:host
  display: block
  height: 100%
  border-right: 1px solid #ccc
.sub-sidebar
  background: #f7f7f7
  h2
    padding-left: 15px
    height: 60px
    line-height: 60px
    font-size: 14px
    font-weight: normal
    background: #e6e6e6
  .sub-link
    display: block
    padding-left: 15px
    height: 36px
    line-height: 36px
    color: #333
    &:hover
      color: #fff
      background: #666
  .nav-link-sub
    padding-left: 30px;
  .active
    color: #fff
    background: #00c1e0
