<div class="w-collapse" [ngClass]="{'border-line':hasBorder,'border-active':collapseOn&&hasBorder}">
  <div class="collapse-header" (click)="clickHandler()" [ngClass]="{'isSub':isSub}">
    {{title}}
    <span class="inputItem" *ngIf="inputItem">
      <span class="name">端口：</span><span class="model">{{inputItem.name}}</span>
      <span class="name">状况：</span>
      <span class="model">
        <span *ngIf="inputItem.state=='Enabled'" class="btn-sm btn-success">启用</span>
        <span *ngIf="inputItem.state=='Disabled'" class="btn-sm btn-error">禁用</span>
      </span>
      <i *ngIf="iconVisible" class="iconfont icon-cog" (click)="clickEvent($event)"></i>
      <i *ngIf="chartVisible" [appToolTip]="'查看监控'" class="iconfont icon-chart" (click)="clickChart($event)"></i>
    </span>

    <span class="inputItem" *ngIf="ospfTitltInput">
      <span class="name">状况：</span>
      <span class="model"><span class="btn-sm btn-success">启用</span></span>
      <!--<span class="name">OSPF Area：</span>-->
      <!--<span class="model">{{ospfTitltInput[0]?.area}}</span>-->

      <i *ngIf="iconVisible" class="iconfont icon-cog" (click)="clickEvent($event)"></i>
    </span>

    <!--<i class="iconfont arrow" [ngClass]="{'icon-arrow_down': collapseOn,'icon-arrow_right': !collapseOn}"></i>-->
    <i class="iconfont arrow icon-arrow_right" [appToolTip]="'展开'" [ngStyle]="{display: collapseOn?'none':''}"></i>
    <i class="iconfont arrow icon-arrow_down" [appToolTip]="'折叠'" [ngStyle]="{display: collapseOn?'':'none'}"></i>

  </div>
  <div [ngClass]="{'content-padding':inputItem}" class="collapse-content" *ngIf="collapseOn" [@dropAnimation]="collapseOn">
    <ng-content></ng-content>
  </div>
</div>
