<div class="height-0">
  <app-ce-model-detail [selectedItem]="selectedItem" #detailRef></app-ce-model-detail>
</div>
<div class="title">CPE型号管理</div>
<div class="grid-wrapper">
  <app-grid class="s-grid" [data]="modelLists" [loading]="gridLoading" (selection-change)="showDetail($event)">
    <app-grid-column field="model" header="型号"></app-grid-column>
    <app-grid-column field="description" header="描述"></app-grid-column>
    <app-grid-column field="cmdChannel" header="cmdChannel"></app-grid-column>
    <app-grid-column field="os" header="os"></app-grid-column>
    <app-grid-column field="createDate" header="创建时间">
      <ng-template #slot let-dataItem>
        {{dataItem.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>
    </app-grid-column>

  </app-grid>

  <app-pagination *ngIf="pagination.show" [(pageSize)]="pagination.size" (pageSizeChange)="pageChange($event, true)"
                  [dataTotal]="pagination.total" [(currentPage)]="pagination.current"
                  (currentPageChange)="pageChange($event, false)" [layout]="pagination.layout"></app-pagination>
</div>
