.grid-drop-menu
  li
    line-height 40px
    cursor pointer
    width 140px
    button
      display: block
      height: 40px
      width: 100%
      border: 0
      text-align: left
      padding: 0 0 0 20px
      background none
      cursor pointer
      &[disabled]
        background #f4f4f5
        cursor not-allowed
        color: #bcbec2
        &:hover
          background #f4f4f5
          color: #bcbec2
      &:hover
        background #00c1e0
        color #fff
.vpe-monitor
  color: #5cb85c
  font-size: 14px
  cursor: pointer
  font-weight: 700
.grid-wrapper
  p
    //white-space nowrap

.grid-wrapper
  .tips
    margin-left: 10px;
    margin-top: 5px
    margin-bottom -3px;
    span
      color: #00c1e0;
      margin-right 5px;
.aLinkStyle
  color #00c1e0
  cursor pointer
  &:hover
    text-decoration underline
.label
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
.label-success
  background: #5cb85c;
.label-danger
  background: #d9534f;
.label-info
  background: #f0ad4e;
.label-sys
  background: #00c1e0;
.label-small
  padding: .1em .4em .2em;
