<div class="title">退费规则</div>
<div class="rule-wrapper">
  <h2>退费说明</h2>
  <dl>
    <dt>一、包年包月资源退费</dt>
    <dd>1、单价和折扣按照系统当时的优惠为准，购买使用的折扣在整个计算过程中仍然使用；</dd>
    <dd>2、购买使用的赠送金额不退；</dd>
    <dd>3、购买的产品需使用7天后才能删除退款（例如2017年1月1日购买产品，1日当天因为部分原因想要删除产品，该产品不能当天删除，需要使用七天后方可退订删除。）。</dd>
    <dd>4、如出现疑似异常/恶意退货，犀思云有权否决退货申请。</dd>
    <dd>5、如出现因最后一公里问题导致无法开通情况，购买时支付金额将全部退还。</dd>
  </dl>
  <dl>
    <dt>二、降配退款说明</dt>
    <dd>犀思云支持两种降配策略，具体的降配策略请查看产品介绍页说明。</dd>
    <dd>1.降配折算时长</dd>
    <dd>2.降配不退赠送金额</dd>
    <dd>3.资源降配遵循补差价原则，升降级时应补差价（升级当天补差价，降级次日补差价）以包月资源为例V=P1*（T/U）-V1</dd>
    <dd>V:应补差价</dd>
    <dd>V1:资源剩余价值</dd>
    <dd>P1:降级后单价</dd>
    <dd>T:资源剩余有效期天数</dd>
    <dd>U:单位时间（以每月=30天计算）</dd>
    <dd>注：使用的赠送金额不退</dd>
  </dl>
  <dl>
    <dt>三、SLA赔偿期间退费</dt>
    <dd>如果赔偿期间，降级业务或者是退订，不返还金额；升级业务，需要支付相应的差价金额。</dd>
  </dl>

  <h2>退款举例说明</h2>

  <h3>VPN使用场景</h3>
  <dl>
    <dd>【案例1】购买VPN1，云专线深圳昆山，连接点深圳接入连接点，带宽5M，单价2000元/月，无折扣，购买2个月，订单实付金额4000元（其中赠送金额3000元，现金账户1000元），使用1个月删除退订。</dd>
    <dd>退款金额 = 1000元。</dd>
    <dd>注：已使用的赠送金额不退。退款金额返还到现金账户。删除只能删除VPN，该VPN使用的云专线并未删除，如需删除云专线，需要前往云专线页面，手动删除退订。</dd>
    <dd>【案例2】购买VPN1，云专线深圳昆山，连接点深圳接入连接点，带宽5M，单价2000元/月，无折扣，购买2个月，订单实付金额4000元（其中赠送金额3000元，现金账户1000元），使用1个月后调整带宽降级为2M，单价1000元/月则发生退款差价。</dd>
    <dd>退款金额=V=| P1*（T/U）-V1 |=  1000元</dd>
    <dd>V:应补差价</dd>
    <dd>V1:资源剩余价值</dd>
    <dd>P1:降级后单价</dd>
    <dd>T:资源剩余有效期天数</dd>
    <dd>U:单位时间（月时间天数）</dd>
    <dd>注：已使用的赠送金额不退。退款金额返还到现金账户。删除只能删除VPN，该VPN使用的云专线并未删除，如需删除云专线，需要前往云专线页面，手动删除退订。降级次日补差价退款。</dd>
  </dl>

</div>
