.pager
  fontsize: 0
  li
    display: inline-block
    margin-left: 4px
    padding: 0 8px
    height: 30px
    border: 1px solid #ccc
    border-radius: 2px
    line-height: 30px
    font-size: 12px
    cursor: pointer
    &:first-child
      margin-left: 0
    &.normal:hover, &.current
      border-color: #00c1e0
      color: #fff
      background: #00c1e0
    &.ellipsis
      border-width: 0
      cursor: auto
