<div class="create-wrapper">

  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container">

      <div class="form-group">
        <div class="form-name"><span class="form-label">业务负责人</span></div>
        <div class="form-model">
          <select class="form-control" [(ngModel)]="infoPage.businessManagerUuid" name="businessManager">
              <option [disabled]="item.isDisabled"  *ngFor="let item of listManagers.business" [value]="item.uuid">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name"><span class="form-label">项目负责人</span></div>
        <div class="form-model">
          <select class="form-control" [(ngModel)]="infoPage.projectManagerUuid" name="projectManager">
              <option [disabled]="item.isDisabled"  *ngFor="let item of listManagers.project" [value]="item.uuid">{{item.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name"><span class="form-label">客户运营负责人</span></div>
        <div class="form-model">
          <select class="form-control" [(ngModel)]="infoPage.customerManagerUuid" name="customerManager">
              <option [disabled]="item.isDisabled"  *ngFor="let item of listManagers.customer" [value]="item.uuid">{{item.name}}</option>
          </select>
        </div>
      </div>

    </form>
    <div class="btn-footer">
          <button type="button" class="btn-default" (click)="cancel()">取消</button>
          <button type="button" class="btn-primary" (click)="confirm()" [disabled]="">确定</button>
        </div>
  </app-w-dialog>
</div>

