<app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width">
  <form class="form-container" [formGroup]="updateHaForm">

    <div class="clearfix" style="padding: 15px 0px;">
      <span class="form-label">基础信息</span>
    </div>

    <div class="clearfix base-msg">
      <div class="base-name">
        <span>账户名<span class="red">*</span>:</span>
      </div>
      <div class="base-value">
        <span>{{selectedHa?.accountName}}</span>
      </div>
    </div>

    <div class="clearfix base-msg">
      <div class="base-name">
        <span>SD-WAN网络名称<span class="red">*</span>:</span>
      </div>
      <div class="base-value">
        <span>{{selectedHa?.sdwanNetworkName}}</span>
      </div>
    </div>

    <div class="form-group">
      <div class="form-name">
        <span class="form-label">高可用HA组名称<span class="red">*</span>:</span>
      </div>
      <div class="form-model">
        <input class="form-control" formControlName="name" placeholder="请输入至少6位HA组名称">
      </div>
      <div class="form-error" *ngIf="name.invalid && (name.dirty || name.touched)">
        <p class="error" *ngIf="name.errors['required']">请输入HA组名称</p>
        <p class="error" *ngIf="name.errors['minlength']">长度至少6位</p>
      </div>
    </div>

    <div class="form-group">
      <div class="form-name">
        <span class="form-label">VRID<span class="red">*</span>:</span>
      </div>
      <div class="form-model">
        <input class="form-control" formControlName="vrid" placeholder="请输入VRID，范围[0-255]">
      </div>
      <div class="form-error" *ngIf="vrid.invalid && (vrid.dirty || vrid.touched)">
        <p class="error" *ngIf="vrid.errors['required']">请输入VRID</p>
        <p class="error" *ngIf="vrid.errors['min'] || vrid.errors['max']">VRID范围：[0-255]</p>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="form-name">
        <span class="form-label">VIP<span class="red">*</span>:</span>
      </div>
      <div class="form-model form-input-group">
        <input class="form-control" formControlName="vip1" maxlength="3">
        <span>.</span>
        <input class="form-control" formControlName="vip2" maxlength="3">
        <span>.</span>
        <input class="form-control" formControlName="vip3" maxlength="3">
        <span>.</span>
        <input class="form-control" formControlName="vip4" maxlength="3">
        <span>/</span>
        <input class="form-control" formControlName="vip5" maxlength="3">
      </div>
      <!--<div class="form-error form-error-group" *ngIf="tips.vipTip">-->
      <!--<p class="error" *ngIf="tips.vipTip">{{tips.vipTip}}</p>-->
      <!--</div>-->
    </div>

    <div class="clearfix" style="padding: 15px 0px;">
      <span class="form-label">设备信息</span>
    </div>

    <div class="form-group clearfix ha-group-form">
      <div class="ha-button" *ngIf="!showCeB">
        <button ng-if="$index+1==1" class="btn btn-default" style="vertical-align:unset; width: 40px; padding: 0px;"  (click)="add()" >
            <i class="iconfont icon-plus"></i>
        </button>
      </div>
      <div class="ha-group ha-group-ce">
        <div class="form-name">
          <span class="form-label">设备1:</span>
        </div>
        <div class="form-model">
          <select class="form-control width-160" formControlName="ceUuid_A" (change)="getCePort(ceUuid_A.value,'A',true)">
            <option *ngFor="let ce of ceList_A" [value]="ce.uuid">{{ce.name}}</option>
          </select>
        </div>
      </div>
      <div class="ha-group">
        <div class="form-name">
          <span class="form-label">优先级:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="priority_A" maxlength="3" (input)="clearTips()">
        </div>
      </div>
      <div class="ha-group ha-group-port">
        <div class="form-name">
          <span class="form-label">端口:</span>
        </div>
        <div class="form-model">
          <select class="form-control width-224" formControlName="cePortUuid_A" (change)="getCePort_B()">
            <option *ngFor="let cePort of cePortList_A" [value]="cePort.name">{{cePort.showName}}</option>
          </select>
        </div>
      </div>
      <div class="form-error" *ngIf="priority_A.invalid && (priority_A.dirty || priority_A.touched)" style="padding-left: 300px;">
        <p class="error" *ngIf="priority_A.errors['required']">请输入优先级</p>
        <p class="error" *ngIf="priority_A.errors['min'] || priority_A.errors['max']" style="line-height: 18px;">范围:[2-254]</p>
        <p class="error" *ngIf="priority_A.errors['pattern']" style="line-height: 18px;">只能是数字</p>
      </div>
    </div>


    <div class="form-group clearfix ha-group-form" *ngIf="showCeB">
      <div class="ha-button">
        <button ng-if="$index+1==1" class="btn btn-default" (click)="minus()"  style="vertical-align:unset; width: 40px; padding: 0px;">
            <i class="iconfont icon-minus"></i>
        </button>
      </div>
      <div class="ha-group ha-group-ce">
        <div class="form-name">
          <span class="form-label">设备2:</span>
        </div>
        <div class="form-model">
          <select class="form-control width-160" formControlName="ceUuid_B" (change)="getCePort_B()">
            <option *ngFor="let ce of ceList_B" [value]="ce.uuid">{{ce.name}}</option>
          </select>
        </div>
      </div>
      <div class="ha-group">
        <div class="form-name">
          <span class="form-label">优先级:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="priority_B" maxlength="3" (input)="clearTips()">
        </div>
      </div>
      <div class="ha-group ha-group-port">
        <div class="form-name">
          <span class="form-label">端口:</span>
        </div>
        <div class="form-model">
          <select class="form-control width-224" formControlName="cePortUuid_B" (change)="clearTips()">
            <option *ngFor="let cePort of cePortList_B" [value]="cePort.name">{{cePort.showName}}</option>
          </select>
        </div>
      </div>
      <div class="form-error" *ngIf="priority_B.invalid && (priority_B.dirty || priority_B.touched)" style="padding-left: 300px;">
        <p class="error" *ngIf="priority_B.errors['required']">请输入优先级</p>
        <p class="error" *ngIf="priority_B.errors['min'] || priority_B.errors['max']" style="line-height: 18px;">范围:[2-254]</p>
        <p class="error" *ngIf="priority_B.errors['pattern']" style="line-height: 18px;">只能是数字</p>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="form-error" *ngIf="tips.priorityTip" style="padding-left: 0px;">
        <p class="error" *ngIf="tips.priorityTip">{{tips.priorityTip}}</p>
      </div>
    </div>

  </form>
  <div class="btn-footer">
    <button type="button" class="btn-default" (click)="cancel()">取消</button>
    <button type="button" class="btn-primary" (click)="confirm()" [disabled]="updateHaForm.invalid">确定</button>
  </div>
</app-w-dialog>
