.dialog-wrapper
  background #000
.create-wrapper
  display inline-block
.form-container
  padding 20px 40px
  .form-name
    width: 120px;
    display inline-block
    float left
  .form-model
    display inline-block
    input,select,textarea
      width 300px
  .form-error
    padding-left 120px
  .account-ref-wrapper
    width: 300px
.btn-footer
  text-align center
  padding 10px 20px
  background #e1eef0
  button:first-child
    margin-right 30px
.area-relation
  select
    width 80px!important
    display inline-block
    padding 6px 0
  label
    margin 0 5px
.form-input-group input
  float left
  width 50px!important
.form-input-group span
  float left
  line-height 30px
  padding: 0px 3px;

.form-group
  padding 0px 20px
.ha-group-form
  background #f2f2f2
  padding 15px 20px
  margin 0px 20px 10px 20px
  position relative
.ha-group
  float left
.ha-group .form-name
  width 60px
.ha-group input
  width 80px!important
.ha-group-ce
  margin-right 20px
.ha-group-port
  margin-top 15px
.base-msg
  height 30px
  margin-bottom 15px
  padding 0px 20px
  line-height 30px
.base-msg .base-name
  float left
  width 120px
.base-msg .base-value
  float left
.ha-button
  position absolute
  top 0px
  right -45px
.width-160
  width 160px!important
.width-224
  width 224px!important
