<div class="create-wrapper">
  <app-w-dialog [title]="dialogOptions.title" [(visible)]="dialogOptions.visible" [width]="dialogOptions.width"
                [changeHeight]="dialogOptions.changeHeight">
    <form class="form-container" [formGroup]="resourceQuotaForm">

      <div class="form-group" *ngIf="selectedCe?.connectionType === 'SDWAN' && selectedCe?.l3Protocol === 'BGP'">
        <div class="form-name">
          <span class="form-label">业务网段数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="serviceCidrNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="serviceCidrNum.invalid && (serviceCidrNum.dirty || serviceCidrNum.touched)">
          <p class="error" *ngIf="serviceCidrNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="serviceCidrNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group" *ngIf="selectedCe?.l3Protocol === 'NAT'">
        <div class="form-name">
          <span class="form-label">目标网段数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="targetCidrNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="targetCidrNum.invalid && (targetCidrNum.dirty || targetCidrNum.touched)">
          <p class="error" *ngIf="targetCidrNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="targetCidrNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">静态路由数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="routeNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="routeNum.invalid && (routeNum.dirty || routeNum.touched)">
          <p class="error" *ngIf="routeNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="routeNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">防火墙规则数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="firewallNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="firewallNum.invalid && (firewallNum.dirty || firewallNum.touched)">
          <p class="error" *ngIf="firewallNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="firewallNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">QoS规则数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="qosNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="qosNum.invalid && (qosNum.dirty || qosNum.touched)">
          <p class="error" *ngIf="qosNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="qosNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">应用链路数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="appNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="appNum.invalid && (appNum.dirty || appNum.touched)">
          <p class="error" *ngIf="appNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="appNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

      <div class="form-group">
        <div class="form-name">
          <span class="form-label">应用定义数量：<span class="red">*</span>:</span>
        </div>
        <div class="form-model">
          <input class="form-control" formControlName="appDefinitionNum" placeholder="请输入数量">
        </div>
        <div class="form-error" *ngIf="appDefinitionNum.invalid && (appDefinitionNum.dirty || appDefinitionNum.touched)">
          <p class="error" *ngIf="appDefinitionNum.errors['required']">数量必填</p>
          <p class="error" *ngIf="appDefinitionNum.errors['pattern']">格式不正确</p>
        </div>
      </div>

    </form>
    <div class="btn-footer">
          <button class="btn-default" (click)="cancel()">取消</button>
          <button class="btn-primary" (click)="confirm()" [disabled]="resourceQuotaForm.invalid">确定</button>
        </div>
  </app-w-dialog>
</div>

